# DL Survival - Ventilation Outcomes
 Updated 21/11/21

In [266]:
import pandas as pd
import numpy as np
import math
import statistics
from datetime import datetime
import datetime as dt
from datetime import timedelta
import json
import miceforest as mf

from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

pd.set_option('display.max_columns', None)

## 1. Data cleaning

- Import MIMIC III data
- Review column unique values, assign correct data types
- Impute missing values

### 1.1: Importing data

In [267]:
df = pd.read_csv('mimic_combined.csv')
print(df.shape)
df.head(10)

(12332, 110)

,Unnamed: 0,hospital_expire_flag,los,spo2,free_calcium,outtime,meanbp,ptt,tidalvol,wcc,cvd,weight,bicarb,ggt,t1dm,temp,malig,subject_id,hr,baseexcess,diab_un,first_careunit,hadm_id,bilirubin_direct,liver_severe,ventrate,fibrinogen,arrhythmia,neutrophils,prbc,glucose,magnesium,po2,ext_time,alp,tricuspid,albumin,dementia,dischtime,pulmonary,t2dm,plts,lactate,bleed_time,admission_location,rr,mit,insulin,pvd,pud,lymphocytes,gender,cabg,smoking,reintubation,height,inr,bilirubin_total,diab_cc,creatinine,insurance,mi,specimen,deathtime,pt,aado2,hba1c,crp,pco2,aids,language,dod,dbp,reint_time,intime,rheum,bg_temp,sbp,chloride,fio2,sodium,last_careunit,infection,paraplegia,cardiac_index,marital_status,potassium,bilirubin_indirect,bun,dtoutput,ckd,copd,cryo,admission_type,met_ca,hb,ethnicity,admittime,ffp,inr_1,ccf,icustay_seq,ph,ast,alt,plt,aortic,vent_array,hematocrit,liver_mild
0,0,0,2.2769,"[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...",2198-02-02 19:06:39,"[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...",[],"[{'charttime': datetime.datetime(2198, 1, 31, ...",0,84.00,"[{'charttime': datetime.datetime(2198, 1, 31, ...",[],0,"[{'charttime': datetime.datetime(2198, 1, 31, ...",0,27328,"[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...",0,CSRU,195663,[],0,[],[],0,[],[],"[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 2, 2, 0...","[{'charttime': datetime.datetime(2198, 1, 31, ...",2198-01-31 22:00:00,[],0,[],0,2198-02-04 12:00:00,0,0,[],"[{'charttime': datetime.datetime(2198, 1, 31, ...",[],PHYS REFERRAL/NORMAL DELI,"[{'charttime': datetime.datetime(2198, 1, 31, ...",0,[],0,0,[],M,1,0,0,172.72,"[{'charttime': datetime.datetime(2198, 1, 31, ...",[],0,"[{'charttime': datetime.datetime(2198, 1, 31, ...",Private,1,[],NaN,[],[],[],[],"[{'charttime': datetime.datetime(2198, 1, 31, ...",0,ENGL,NaN,"[{'charttime': datetime.datetime(2198, 1, 31, ...",NaN,2198-01-31 12:27:58,0,[],"[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...",[],"[{'charttime': datetime.datetime(2198, 1, 31, ...",CSRU,"[{'suspected_infection_time': None, 'antibioti...",0,[],SINGLE,"[{'charttime': datetime.datetime(2198, 1, 31, ...",[],"[{'charttime': datetime.datetime(2198, 1, 31, ...",[],0,0,[],ELECTIVE,0,"[{'charttime': datetime.datetime(2198, 1, 31, ...",white,2198-01-31 08:00:00,[],"[{'charttime': datetime.datetime(2198, 1, 31, ...",0,1,"[{'charttime': datetime.datetime(2198, 1, 31, ...",[],[],"[{'charttime': datetime.datetime(2198, 1, 31, ...",0,"[{'starttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...",0
1,1,0,2.2722,"[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 8, 1...",2198-05-10 19:46:00,"[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 8, 1...",[],"[{'charttime': datetime.datetime(2198, 5, 10, ...",0,60.00,"[{'charttime': datetime.datetime(2198, 5, 9, 3...",[],0,"[{'charttime': datetime.datetime(2198, 5, 8, 1...",0,6280,"[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 8, 1...",0,CSRU,106984,[],0,[],[],0,[],"[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 9, 3...","[{'charttime': datetime.datetime(2198, 5, 8, 1...",2198-05-09 09:29:00,[],0,[],0,2198-05-15 13:49:00,0,0,"[{'charttime': datetime.datetime(2198, 5, 8, 1...",[],[],PHYS REFERRAL/NORMAL DELI,"[{'charttime': datetime.datetime(2198, 5, 8, 1...",0,"[{'charttime': datetime.datetime(2198, 5, 8, 1...",1,0,[],F,0,0,0,170.18,"[{'charttime': datetime.datetime(2198, 5, 8, 1...",[],0,"[{'charttime': datetime.datetime(2198, 5, 9, 3...",Self Pay,0,[],NaN,[],[],[],[],"[{'charttime': datetime.datetime(2198, 5, 8, 1...",0,SPAN,NaN,"[{'charttime': datetime.datetime(2198, 5, 8, 1...",NaN,2198-05-08 13:14:00,0,[],"[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 9, 3...",[],"[{'charttime': datetime.datetime(2198, 5, 8, 1...",CSRU,"[{'suspected_infection_time': None, 'antibioti...",0,"[{'charttime': datetime.datetime(2198, 5, 8, 1...",DIVORCED,"[{'charttime': datetime.datetime(2198, 5, 8, 1...",[],"[{'charttime': datetime.datetime(2198, 5, 9, 3...",[],0,0,"[{'charttime': datetime.datetime(2198, 5, 8, 1...",ELECTIVE,0,"[{'charttime': datetime.datetime(2198, 5, 8, 1...",other,2198-05-08 07:15:00,"[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 8, 1...",0,1,"[{'charttime': datetime.datetime(2198, 5, 8, 1...",[],[],"[{'charttime': datetime.datetime(2198, 5, 8, 1...",1,"[{'starttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 8, 1...",0
2,2,0,2.1157,"[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...",2189-02-20 13:37:48,"[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...",0,57.00,"[{'charttime': datetime.datetime(2189, 2, 18, ...",[],0,"[{'charttime': datetime.datetime(2189, 2, 18, ...",0,15201,"[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...",0,CSRU,123613,[],0,[],"[{'charttime': datetime.datetime(2189, 2, 18, ...",1,[],"[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 19, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...",2189-02-19 09:00:00,[],0,[],0,2189-03-17 14:20:00,0,0,[],[],[],PHYS REFERRAL/NORMAL DELI,"[{'charttime': datetime.datetime(2189, 2, 18, ...",0,[],1,0,[],F,1,0,0,165.10,"[{'charttime': datetime.datetime(2189, 2, 18, ...",[],0,"[{'charttime': datetime.datetime(2189, 2, 18, ...",Medicare,0,[],NaN,[],"[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 10, ...",[],"[{'charttime': datetime.datetime(2189, 2, 18, ...",0,NaN,2191-12-14,"[{'charttime': datetime.datetime(2189, 2, 18, ...",NaN,2189-02-18 10:51:08,0,[],"[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...",CSRU,"[{'suspected_infection_time': None, 'antibioti...",0,"[{'charttime': datetime.datetime(2189, 2, 18, ...",MARRIED,"[{'charttime': datetime.datetime(2189, 2, 18, ...",[],"[{'charttime': datetime.datetime(2189, 2, 18, ...",[],0,0,[],ELECTIVE,0,"[{'charttime': datetime.datetime(2189, 2, 18, ...",unknown,2189-02-18 08:00:00,[],"[{'charttime': datetime.datetime(2189, 2, 18, ...",1,1,"[{'charttime': datetime.datetime(2189, 2, 18, ...",[],[],"[{'charttime': datetime.datetime(2189, 2, 18, ...",1,"[{'starttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...",0
3,3,0,1.0738,"[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...",2118-01-26 12:33:02,"[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 26, ...",0,135.00,"[{'charttime': datetime.datetime(2118, 1, 25, ...",[],0,"[{'charttime': datetime.datetime(2118, 1, 25, ...",0,25226,"[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...",1,CSRU,126027,[],0,[],"[{'charttime': datetime.datetime(2118, 1, 25, ...",0,[],[],"[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...",2118-01-25 17:30:00,[],0,[],0,2118-01-29 13:00:00,0,0,[],[],[],PHYS REFERRAL/NORMAL DELI,"[{'charttime': datetime.datetime(2118, 1, 25, ...",0,[],0,0,[],M,1,0,0,190.50,"[{'charttime': datetime.datetime(2118, 1, 25, ...",[],0,"[{'charttime': datetime.datetime(2118, 1, 25, ...",Private,0,[],NaN,[],"[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 14, ...",[],"[{'charttime': datetime.datetime(2118, 1, 25, ...",0,NaN,NaN,"[{'charttime': datetime.datetime(2118, 1, 25, ...",NaN,2118-01-25 10:46:42,0,[],"[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...",CSRU,"[{'suspected_infection_time': None, 'antibioti...",0,"[{'charttime': datetime.datetime(2118, 1, 25, ...",MARRIED,"[{'charttime': datetime.datetime(2118, 1, 25, ...",[],"[{'charttime': datetime.datetime(2118, 1, 25, ...",[],0,0,[],ELECTIVE,0,"[{'charttime': datetime.datetime(2118, 1, 25, ...",unknown,2118-01-25 07:15:00,[],"[{'charttime': datetime.datetime(2118, 1, 25, ...",0,1,"[{'charttime': datetime.datetime(2118, 1, 25, ...",[],[],"[{'charttime': datetime.datetime(2118, 1, 25, ...",0,"[{'starttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...",0
4,4,0,2.0507,"[{'charttime': datetime.datetime(2198, 1, 1, 1...","[{'charttime': datetime.datetime(2198, 1, 1, 1...",2198-01-03 12:00:00,"[{'charttime': datetime.datetime(2198, 1, 1, 1...",[],"[{'charttime': datetime.datetime(2198, 1, 1, 1...","[{'charttime': datetime.datetime(2198, 1, 2, 4...",0,70.00,"[{'charttime': datetime.datetime(2198, 1, 2, 4...",[],0,"[{'charttime': datetime.datetime(2198, 1, 1, 1...",0,19637,"[{'charttime': datetime.datetime(2198, 1, 1, 1...","[{'charttime': datetime.datetime(2198, 1, 1, 1...",1,CSRU,190332,[],0,[],[],1,[],"[{'charttime': datetime.datetime(2198, 1, 2, 6...","[{'charttime': datetime.datetime(2198, 1, 1, 1...",[],"[{'charttime': datetime.datetime(2198, 1, 1, 1...",2198-01-01 21:00:00,[],0,[],0,2198-01-09 13:07:00,0,0,[],"[{'charttime': datetime.datetime(2198, 1, 1, 1...",[],PHYS REFERRAL/NORMAL DELI,"[{'charttime': datetime.datetime(2198, 1, 1, 1...",0,[],0,0,[],M,0,0,0,175.26,"[{'charttime': datetime.datetime(2198, 1, 3, 4...",[],0,"[{'charttime': datetime.datetime(2198, 1, 2, 4...",Medicare,0,[],NaN,[],"[{'charttime': datetime.datetime(2198, 1, 1, 1...",[],[],"[{'charttime': datetime.datetime(2198, 1, 1, 1...",0,NaN,2203-12-06,"[{'charttime': datetime.datetime(2198, 1, 1, 1...",NaN,2198-01-01 10:47:00,0,[],"[{'charttime': datetime.datetime(2198, 1, 1, 1...","[{'charttime': datetime.datetime(2198, 1, 2, 4...","[{'charttime': datetime.datetime(2198, 1, 1, 1...","[{'charttime': datetime.datetime(2198, 1, 1, 1...",CSRU,"[{'suspected_infection_time': None, 'antibioti...",0,"[{'charttime': datetime.datetime(2198, 1, 1, 1...",MARRIED,"[{'charttime': datetime.datetime(2198, 1, 1, 1...",[],"[{'charttime': datetime.datetime(2198, 1, 2, 4...",[],0,0,[],ELECTIVE,0,"[{'charttime': datetime.datetime(2198, 1, 1, 1...",unknown,2198-01-01 07:15:00,[],"[{'charttime': datetime.datetime(2198, 1, 3, 4...",1,1,"[{'charttime': datetime.datetime(2198, 1, 1, 1...",[],[],"[{'charttime': datetime.datetime(2198, 1, 2, 4...",1,"[{'starttime': datetime.datetime(2198, 1, 1, 1...","[{'charttime': datetime.datetime(2198, 1, 1, 1...",0
5,5,0,4.0595,"[{'charttime': datetime.datetime(2130, 12, 8, ...","[{'charttime': datetime.datetime(2130, 12, 8, ...",2130-12-12 12:08:24,"[{'charttime': datetime.datetime(2130, 12, 8, ...","[{'charttime': datetime.datetime(2130, 12, 8, ...",[],"[{'charttime': datetime.datetime(2130, 12, 8, ...",0,73.30,"[{'charttime': datetime.datetime(2130, 12, 8, ...",[],0,"[{'charttime': datetime.datetime(2130, 12, 8, ...",0,29498,"[{'charttime': datetime.datetime(2130, 12, 8, ...","[{'charttime': datetime.datetime(2130, 12, 8, ...",1,CSRU,115203,[],0,[],"[{'charttime': datetime.datetime(2130, 12, 8, ...",1,"[{'charttime': datetime.datetime(2130, 12, 8, ...","[{'charttime': datetime.datetime(2130, 12, 8, ...","[{'charttime': datetime.datetime(2130, 12, 8, ...","[{'charttime': datetime.datetime(2130, 12, 8, ...","[{'charttime': datetime.datetime(2130, 12, 8, ...",2130-12-09 12:00:00,[],0,[],0,2130-12-18 18:38:00,0,0,[],"[{'charttime': datetime.datetime(2130, 12, 8, ...",[],TRANSFER FROM HOSP/EXTRAM,"[{'charttime': datetime.datetime(2130, 12, 8, ...",0,[],0,0,"[{'charttime': datetime.datetime(2130, 12, 8, ...",F,1,0,0,162.56,"[{'charttime': datetime.datetime(2130, 12, 8, ...",[],0,"[{'charttime': datetime.datetime(2130, 12, 8, ...",Medicaid,0,[],NaN,[],"[{'charttime': datetime.datetime(2130, 12, 8, ...","[{'charttime': datetime.datetime(2130, 12, 7, ...",[],"[{'charttime': datetime.datetime(2130, 12, 8, ...",0,ENGL,NaN,"[{'charttime': datetime.datetime(2130, 12, 8, ...",NaN,2130-12-08 10:42:40,0,[],"[{'charttime': datetime.datetime(2130, 12, 8, ...","[{'charttime': datetime.datetime(2130, 12, 8, ...","[{'charttime': datetime.datetime(2130, 12, 8, ...","[{'charttime': datetime.datetime(2130, 12, 8, ...",CSRU,[{'suspected_infection_time': datetime.datetim...,0,"[{'charttime': datetime.datetime(2130, 12, 8, ...",SINGLE,"[{'charttime': datetime.datetime(2130, 12, 8, ...",[],"[{'charttime': datetime.datetime(2130, 12, 8, ...","[{'charttime': datetime.datetime(2130, 12, 8, ...",0,0,[],EMERGENCY,0,"[{'charttime': datetime.datetime(2130, 12, 8, ...",unknown,2130-12-06 18:30:00,[],"[{'charttime': datetime.datetime(2130, 12, 8, ...",0,1,"[{'charttime': datetime.datetime(2130, 12, 8, ...",[],[],"[{'charttime': datetime.datetime(2130, 12, 8, ...",0,"[{'starttime': datetime.datetime(2130, 12, 8, ...","[{'charttime': datetime.datetime(2130, 12, 8, ...",0
6,6,0,2.1090,"[{'charttime': datetime.datetime(2113, 5, 11, ...",[],2113-05-13 18:23:43,"[{'charttime': datetime.datetime(2113, 5, 11, ...","[{'charttime': datetime.datetime(2113, 5, 12, ...",[],"[{'charttime': datetime.datetime(2113, 5, 12, ...",0,101.15,"[{'charttime': datetime.datetime(2113, 5, 12, ...",[],0,"[{'charttime': datetime.datetime(2113, 5, 11, ...",0,18498,"[{'charttime': datetime.datetime(2113, 5, 11, ...","[{'charttime': datetime.datetime(2113, 5, 12, ...",0,CCU,181661,[],0,[],[],1,"[{'charttime': datetime.datetime(2113, 5, 12, ...",[],"[{'charttime': datetime.datetime(2113, 5, 12, ...","[{'charttime': datetime.datetime(2113, 5, 13, ...","[{'charttime': datetime.datetime(2113, 5, 12, ...",NaN,[],0,[],0,2113-05-26 13:55:00,0,0,[],[],[],EMERGENCY ROOM ADMIT,"[{'charttime': datetime.datetime(2113, 5, 11, ...",1,[],0,0,"[{'charttime': datetime.datetime(2113, 5, 12, ...",M,1,0,0,NaN,"[{'charttime': datetime.datetime(2113, 5, 12, ...","[{'charttime': datetime.datetime(2113, 5, 13, ...",0,"[{'charttime': datetime.datetime(2113, 5, 12, ...",Medicare,1,[],NaN,[],[],[],[],"[{'charttime': datetime.datetime(2113, 5, 12, ...",0,NaN,NaN,"[{'charttime': datetime.datetime(2113, 5, 11, ...",NaN,2113-05-11 15:46:43,0,"[{'charttime': datetime.datetime(2113, 5, 12, ...","[{'charttime': datetime.datetime(2113, 5, 11, ...","[{'charttime': datetime.datetime(2113, 5, 12, ...",[],"[{'charttime': datetime.datetime(2113, 5, 12, ...",CCU,"[{'suspected_infection_time': None, 'antibioti...",0,"[{'charttime': datetime.datetime(2113, 5, 11, ...",WIDOWED,"[{'charttime': datetime.datetime(2113, 5, 12, ...",[],"[{'charttime': datetime.datetime(2113, 5, 12, ...",[],0,0,[],EMERGENCY,0,"[{'charttime': datetime.datetime(2113, 5, 11, ...",white,2113-05-07 12:16:00,[],"[{'charttime': datetime.datetime(2113, 5, 12, ...",1,1,"[{'charttime': datetime.datetime(2113, 5, 12, ...",[],[],"[{'charttime': datetime.datetime(2113, 5, 12, ...",0,[],"[{'charttime': datetime.datetime(2113, 5, 11, ...",0
7,7,0,1.3210,"[{'charttime': datetime.datetime(2139, 10, 6, ...","[{'charttime': datetime.datetime(2139, 10, 6, ...",2139-10-07 17:13:18,"[{'charttime': datetime.datetime(2139, 10, 6, ...","[{'charttime': datetime.datetime(2139, 10, 6, ...",[],"[{'charttime': datetime.datetime(2139, 10, 6, ...",0,62.30,"[{'charttime': datetime.datetime(2139, 10, 6, ...",[],0,"[{'charttime': datetime.datetime(2139, 10, 6, ...",0,29429,"[{'charttime': datetime.datetime(2139, 10, 6, ...","[{'charttime': datetime.datetime(2139, 10, 6, ...",0,CSRU,195614,[],0,[],"[{'charttime': datetime.datetime(2139, 10, 6, ...",0,[],[],"[{'charttime': datetime.datetime(2139, 10, 6, ...","[{'charttime': datetime.datetime(2139, 10, 7, ...","[{'charttime': datetime.datetime(2139, 10, 6, ...",2139-10-06 16:20:00,[],0,[],0,2139-10-11 15:04:00,0,0,[],"[{'charttime': datetime.datetime(2139, 10, 6, ...",[],PHYS REFERRAL/NORMAL DELI,"[{'charttime': datetime.datetime(2139, 10, 6, ...",1,[],0,0,[],M,0,0,0,167.64,"[{'charttime': datetime.datetime(2139, 10, 6, ...",[],0,"[{'charttime': datetime.datetime(2139, 10, 6, ...",Private,0,[],NaN,[],[],"[{'charttime': datetime.datetime(2139, 9, 15, ...",[],"[{'charttime': datetime.datetime(2139, 10, 6, ...",0,ENGL,NaN,"[{'charttime': datetime.datetime(2139, 10, 6, ...",NaN,2139-10-06 09:31:07,0,[],"[{'charttime': datetime.datetime(2139, 10, 6, ...","[{'charttime': datetime.datetime(2139, 10, 6, ...",[],"[{'charttime': datetime.datetime(2139, 10, 6, ...",CSRU,"[{'suspected_infection_time': None, 'antibioti...",0,"[{'charttime': datetime.datetime(2139, 10, 6, ...",UNKNOWN (DEFAULT),"[{'charttime': datetime.datetime(2139, 10, 6, ...",[],"[{'charttime': datetime.datetime(2139, 10, 6, ...",[],0,1,[],ELECTIVE,0,"[{'charttime': datetime.datetime(2139, 10, 6, ...",white,2139-10-06 07:15:00,[],"[{'charttime': datetime.datetime(2139, 10, 6, ...",0,1,"[{'charttime': datetime.datetime(2139, 10, 6, ...",[],[],"[{'charttime': datetime.datetime(2139, 10, 6, ...",0,"[{'starttime': datetime.datetime(2139, 10, 6, ...","[{'charttime': datetime.datetime(2139, 10, 6, ...",0
8,8,0,1.5442,"[{'charttime': datetime.datetime(2130, 10, 5, ...","[{'charttime': datetime.datetime(2130, 10, 5, ...",2130-10-06 21:54:27,"[{'charttime': datetime.datetime(2130, 10, 5, ...","[{'charttime': datetime.datetime(2130, 10, 5, ...",[],"[{'charttime': datetime.datetime(2130, 10, 5, ...",0,79.90,"[{'charttime': datetime.datetime(2130, 10, 5, ...",[],0,"[{'charttime': datetime.datetime(2130, 10, 5, ...",0,28892,"[{'charttime': datetime.datetime(2130, 10, 5, ...","[{'charttime': datetime.datetime(2130, 10, 5, ...",0,CSRU,190585,[],0,[],[],0,[],[],"[{'charttime': datetime.datetime(2130, 10, 5, ...","[{'charttime': datetime.datetime(2130, 10, 6, ...","[{'charttime': datetime.datetime(2130, 10, 5, ...",2130-10-05 13:30:00,[],0,[],0,2130-10-09 17:00:00,0,0,[],"[{'charttime': datetime.datetime(2130, 10, 5, ...",[],PHYS REFERRAL/NORMAL DELI,"[{'charttime': datetime.datetime(2130, 10, 5, ...",0,[],0,0,[],M,1,0,0,165.10,"[{'charttime': datetime.datetime(2130, 10, 5, ...",[],0,"[{'charttime': datetime.datetime(2130, 10, 5, ...",Private,0,[],NaN,[],[],"[{'charttime': datetime.datetime(2130, 9, 29, ...",[],"[{'charttime': datetime.datetime(2130, 10, 5, ...",0,ENGL,NaN,"[{'charttime': datetime.datetime(2130, 10, 5, ...",NaN,2130-10-05 08:50:46,0,[],"[{'charttime': datetime.datetime(2130, 10, 5, ...","[{'charttime': datetime.datetime(2130, 10, 5, ...",[],"[{'charttime': datetime.datetime(2130, 10, 5, ...",CSRU,"[{'suspected_infection_time': None, 'antibioti...",0,"[{'charttime': datetime.datetime(2130, 10, 5, ...",MARRIED,"[{'charttime': datetime.datetime(2130, 10, 5, ...",[],"[{'charttime': datetime.datetime(2130, 10, 5, ...",[],0,0,[],ELECTIVE,0,"[{'charttime': datetime.datetime(2130, 10, 5, ...",white,2130-10-05 07:15:00,[],"[{'charttime': datetime.datetime(2130, 10, 5, ...",0,1,"[{'charttime': datetime.datetime(2130, 10, 5, ...",[],[],"[{'charttime': datetime.datetime(2130, 10, 5, ...",0,"[{'starttime': datetime.datetime(2130, 10, 5, ...","[{'charttime': datetime.datetime(2130, 10, 5, ...",0

#### 1.1.1: Column lists

In [268]:
#view and reorder columns
cols = list(df.columns)
new_cols = ['Unnamed: 0','hadm_id','subject_id','gender','ethnicity','marital_status','insurance','language','aortic','mit','tricuspid',
            'pulmonary','cabg','temp','bg_temp','hr','spo2','rr','sbp','dbp','meanbp','weight','height','cardiac_index','pt','ptt',
            'inr','inr_1','fibrinogen','hb','hematocrit','plts','wcc','lymphocytes','neutrophils','alp','ast','alt','ggt',
            'bilirubin_indirect','bilirubin_direct','bilirubin_total','chloride','magnesium','potassium','crp','bleed_time','albumin',
            'creatinine','free_calcium','sodium','bicarb','bun','hba1c','glucose','lactate','po2','pco2','baseexcess','ph','aado2',
            'fio2','ffp','insulin','cryo','prbc','infection','ventrate','tidalvol','vent_array','reintubation','liver_severe','liver_mild',
            'rheum','cvd','aids','ckd','copd','arrhythmia','pud','smoking','pvd','paraplegia','ccf','met_ca','t2dm','t1dm','malig','mi',
            'dementia','first_careunit','last_careunit','admission_location','admission_type','hospital_expire_flag','admittime',
            'dischtime','intime','outtime','ext_time','reint_time','los','icustay_seq','deathtime','plt','diab_un','diab_cc',
            'dtoutput','specimen','dod']

ptinfo=['Unnamed: 0','hadm_id','subject_id']

demographics=['gender','ethnicity','marital_status','insurance','language']

proceduretype=['aortic','mit','tricuspid','pulmonary','cabg']

vitals=['temp','bg_temp','hr','spo2','rr','sbp','dbp','meanbp','weight','height','cardiac_index']

labs=['pt','ptt','inr','inr_1','fibrinogen','hb','hematocrit','plts','wcc','lymphocytes','neutrophils','alp','ast','alt','ggt',
'bilirubin_indirect','bilirubin_direct','bilirubin_total','chloride','magnesium','potassium','crp','bleed_time',
'albumin','creatinine','free_calcium','sodium','bicarb','bun','hba1c','glucose','lactate']

bloodgases=['po2','pco2','baseexcess','ph','aado2','fio2']

products=['ffp','insulin','cryo','prbc','infection']

ventilation=['ventrate','tidalvol','vent_array','reintubation']

comorbidities=['liver_severe','liver_mild','rheum','cvd','aids','ckd','copd','arrhythmia','pud','smoking','pvd',
'paraplegia','ccf','met_ca','t2dm','t1dm','malig','mi','dementia']

adm_cat=['first_careunit','last_careunit','admission_location','admission_type','hospital_expire_flag']

adm_num=['admittime','dischtime','intime','outtime','ext_time','reint_time','los','icustay_seq','deathtime']

others=['plt','diab_un','diab_cc','dtoutput','specimen','dod']

timeseries=[*vitals,*labs,*bloodgases,*products,*ventilation,'plt','dtoutput']
timeseries = [i for i in timeseries if i not in ('weight','height','reintubation', 'infection', 'vent_array')]
    
timeseries_valuenames = {'cardiac_index':'ci',
                         'plts':'bloodproduct',
                         'ffp':'bloodproduct',
                         'insulin':'amount',
                         'cryo':'bloodproduct',
                         'prbc':'bloodproduct',
                         'dtoutput':'output'}

In [269]:
df = df[new_cols]
df.head(10)

,Unnamed: 0,hadm_id,subject_id,gender,ethnicity,marital_status,insurance,language,aortic,mit,tricuspid,pulmonary,cabg,temp,bg_temp,hr,spo2,rr,sbp,dbp,meanbp,weight,height,cardiac_index,pt,ptt,inr,inr_1,fibrinogen,hb,hematocrit,plts,wcc,lymphocytes,neutrophils,alp,ast,alt,ggt,bilirubin_indirect,bilirubin_direct,bilirubin_total,chloride,magnesium,potassium,crp,bleed_time,albumin,creatinine,free_calcium,sodium,bicarb,bun,hba1c,glucose,lactate,po2,pco2,baseexcess,ph,aado2,fio2,ffp,insulin,cryo,prbc,infection,ventrate,tidalvol,vent_array,reintubation,liver_severe,liver_mild,rheum,cvd,aids,ckd,copd,arrhythmia,pud,smoking,pvd,paraplegia,ccf,met_ca,t2dm,t1dm,malig,mi,dementia,first_careunit,last_careunit,admission_location,admission_type,hospital_expire_flag,admittime,dischtime,intime,outtime,ext_time,reint_time,los,icustay_seq,deathtime,plt,diab_un,diab_cc,dtoutput,specimen,dod
0,0,195663,27328,M,white,SINGLE,Private,ENGL,0,0,0,0,1,"[{'charttime': datetime.datetime(2198, 1, 31, ...",[],"[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...",84.00,172.72,[],[],"[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...",[],"[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...",[],"[{'charttime': datetime.datetime(2198, 1, 31, ...",[],[],[],[],[],[],[],[],[],"[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 2, 2, 0...","[{'charttime': datetime.datetime(2198, 1, 31, ...",[],[],[],"[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...",[],"[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...",[],[],[],[],[],[],"[{'suspected_infection_time': None, 'antibioti...",[],[],"[{'starttime': datetime.datetime(2198, 1, 31, ...",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,CSRU,CSRU,PHYS REFERRAL/NORMAL DELI,ELECTIVE,0,2198-01-31 08:00:00,2198-02-04 12:00:00,2198-01-31 12:27:58,2198-02-02 19:06:39,2198-01-31 22:00:00,NaN,2.2769,1,NaN,"[{'charttime': datetime.datetime(2198, 1, 31, ...",0,0,[],[],NaN
1,1,106984,6280,F,other,DIVORCED,Self Pay,SPAN,1,0,0,0,0,"[{'charttime': datetime.datetime(2198, 5, 8, 1...",[],"[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 8, 1...",60.00,170.18,"[{'charttime': datetime.datetime(2198, 5, 8, 1...",[],"[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 8, 1...",[],"[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 10, ...",[],[],[],[],[],[],[],[],[],"[{'charttime': datetime.datetime(2198, 5, 9, 3...","[{'charttime': datetime.datetime(2198, 5, 9, 3...","[{'charttime': datetime.datetime(2198, 5, 8, 1...",[],[],[],"[{'charttime': datetime.datetime(2198, 5, 9, 3...","[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 9, 3...","[{'charttime': datetime.datetime(2198, 5, 9, 3...",[],"[{'charttime': datetime.datetime(2198, 5, 8, 1...",[],"[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 8, 1...",[],[],"[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'suspected_infection_time': None, 'antibioti...",[],[],"[{'starttime': datetime.datetime(2198, 5, 8, 1...",0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,CSRU,CSRU,PHYS REFERRAL/NORMAL DELI,ELECTIVE,0,2198-05-08 07:15:00,2198-05-15 13:49:00,2198-05-08 13:14:00,2198-05-10 19:46:00,2198-05-09 09:29:00,NaN,2.2722,1,NaN,"[{'charttime': datetime.datetime(2198, 5, 8, 1...",0,0,[],[],NaN
2,2,123613,15201,F,unknown,MARRIED,Medicare,NaN,1,0,0,0,1,"[{'charttime': datetime.datetime(2189, 2, 18, ...",[],"[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...",57.00,165.10,"[{'charttime': datetime.datetime(2189, 2, 18, ...",[],"[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...",[],"[{'charttime': datetime.datetime(2189, 2, 18, ...",[],[],[],[],[],[],[],[],[],"[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 19, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...",[],[],[],"[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 10, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...",[],"[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...",[],[],[],"[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'suspected_infection_time': None, 'antibioti...",[],"[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'starttime': datetime.datetime(2189, 2, 18, ...",0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,CSRU,CSRU,PHYS REFERRAL/NORMAL DELI,ELECTIVE,0,2189-02-18 08:00:00,2189-03-17 14:20:00,2189-02-18 10:51:08,2189-02-20 13:37:48,2189-02-19 09:00:00,NaN,2.1157,1,NaN,"[{'charttime': datetime.datetime(2189, 2, 18, ...",0,0,[],[],2191-12-14
3,3,126027,25226,M,unknown,MARRIED,Private,NaN,0,0,0,0,1,"[{'charttime': datetime.datetime(2118, 1, 25, ...",[],"[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...",135.00,190.50,"[{'charttime': datetime.datetime(2118, 1, 25, ...",[],"[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...",[],"[{'charttime': datetime.datetime(2118, 1, 26, ...",[],[],[],[],[],[],[],[],[],"[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...",[],[],[],"[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 14, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...",[],"[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...",[],[],[],[],"[{'suspected_infection_time': None, 'antibioti...",[],"[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'starttime': datetime.datetime(2118, 1, 25, ...",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,CSRU,CSRU,PHYS REFERRAL/NORMAL DELI,ELECTIVE,0,2118-01-25 07:15:00,2118-01-29 13:00:00,2118-01-25 10:46:42,2118-01-26 12:33:02,2118-01-25 17:30:00,NaN,1.0738,1,NaN,"[{'charttime': datetime.datetime(2118, 1, 25, ...",1,0,[],[],NaN
4,4,190332,19637,M,unknown,MARRIED,Medicare,NaN,1,0,0,0,0,"[{'charttime': datetime.datetime(2198, 1, 1, 1...",[],"[{'charttime': datetime.datetime(2198, 1, 1, 1...","[{'charttime': datetime.datetime(2198, 1, 1, 1...","[{'charttime': datetime.datetime(2198, 1, 1, 1...","[{'charttime': datetime.datetime(2198, 1, 1, 1...","[{'charttime': datetime.datetime(2198, 1, 1, 1...","[{'charttime': datetime.datetime(2198, 1, 1, 1...",70.00,175.26,"[{'charttime': datetime.datetime(2198, 1, 1, 1...",[],[],"[{'charttime': datetime.datetime(2198, 1, 3, 4...","[{'charttime': datetime.datetime(2198, 1, 3, 4...",[],"[{'charttime': datetime.datetime(2198, 1, 1, 1...","[{'charttime': datetime.datetime(2198, 1, 1, 1...",[],"[{'charttime': datetime.datetime(2198, 1, 2, 4...",[],[],[],[],[],[],[],[],[],"[{'charttime': datetime.datetime(2198, 1, 2, 4...",[],"[{'charttime': datetime.datetime(2198, 1, 1, 1...",[],[],[],"[{'charttime': datetime.datetime(2198, 1, 2, 4...","[{'charttime': datetime.datetime(2198, 1, 1, 1...","[{'charttime': datetime.datetime(2198, 1, 1, 1...","[{'charttime': datetime.datetime(2198, 1, 2, 4...","[{'charttime': datetime.datetime(2198, 1, 2, 4...",[],"[{'charttime': datetime.datetime(2198, 1, 1, 1...","[{'charttime': datetime.datetime(2198, 1, 1, 1...","[{'charttime': datetime.datetime(2198, 1, 1, 1...","[{'charttime': datetime.datetime(2198, 1, 1, 1...","[{'charttime': datetime.datetime(2198, 1, 1, 1...","[{'charttime': datetime.datetime(2198, 1, 1, 1...","[{'charttime': datetime.datetime(2198, 1, 1, 1...","[{'charttime': datetime.datetime(2198, 1, 1, 1...",[],[],[],"[{'charttime': datetime.datetime(2198, 1, 2, 6...","[{'suspected_infection_time': None, 'antibioti...",[],"[{'charttime': datetime.datetime(2198, 1, 1, 1...","[{'starttime': datetime.datetime(2198, 1, 1, 1...",0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,CSRU,CSRU,PHYS REFERRAL/NORMAL DELI,ELECTIVE,0,2198-01-01 07:15:00,2198-01-09 13:07:00,2198-01-01 10:47:00,2198-01-03 12:00:00,2198-01-01 21:00:00,NaN,2.0507,1,NaN,"[{'charttime': datetime.datetime(2198, 1, 2, 4...",1,0,[],[],2203-12-06
5,5,115203,29498,F,unknown,SINGLE,Medicaid,ENGL,0,0,0,0,1,"[{'charttime': datetime.datetime(2130, 12, 8, ...",[],"[{'charttime': datetime.datetime(2130, 12, 8, ...","[{'charttime': datetime.datetime(2130, 12, 8, ...","[{'charttime': datetime.datetime(2130, 12, 8, ...","[{'charttime': datetime.datetime(2130, 12, 8, ...","[{'charttime': datetime.datetime(2130, 12, 8, ...","[{'charttime': datetime.datetime(2130, 12, 8, ...",73.30,162.56,"[{'charttime': datetime.datetime(2130, 12, 8, ...",[],"[{'charttime': datetime.datetime(2130, 12, 8, ...","[{'charttime': datetime.datetime(2130, 12, 8, ...","[{'charttime': datetime.datetime(2130, 12, 8, ...","[{'charttime': datetime.datetime(2130, 12, 8, ...","[{'charttime': datetime.datetime(2130, 12, 8, ...","[{'charttime': datetime.datetime(2130, 12, 8, ...",[],"[{'charttime': datetime.datetime(2130, 12, 8, ...","[{'charttime': datetime.datetime(2130, 12, 8, ...","[{'charttime': datetime.datetime(2130, 12, 8, ...",[],[],[],[],[],[],[],"[{'charttime': datetime.datetime(2130, 12, 8, ...","[{'charttime': datetime.datetime(2130, 12, 8, ...","[{'charttime': datetime.datetime(2130, 12, 8, ...",[],[],[],"[{'charttime': datetime.datetime(2130, 12, 8, ...","[{'charttime': datetime.datetime(2130, 12, 8, ...","[{'charttime': datetime.datetime(2130, 12, 8, ...","[{'charttime': datetime.datetime(2130, 12, 8, ...","[{'charttime': datetime.datetime(2130, 12, 8, ...","[{'charttime': datetime.datetime(2130, 12, 7, ...","[{'charttime': datetime.datetime(2130, 12, 8, ...","[{'charttime': datetime.datetime(2130, 12, 8, ...","[{'charttime': datetime.datetime(2130, 12, 8, ...","[{'charttime': datetime.datetime(2130, 12, 8, ...","[{'charttime': datetime.datetime(2130, 12, 8, ...","[{'charttime': datetime.datetime(2130, 12, 8, ...","[{'charttime': datetime.datetime(2130, 12, 8, ...","[{'charttime': datetime.datetime(2130, 12, 8, ...",[],[],[],"[{'charttime': datetime.datetime(2130, 12, 8, ...",[{'suspected_infection_time': datetime.datetim...,[],[],"[{'starttime': datetime.datetime(2130, 12, 8, ...",0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,CSRU,CSRU,TRANSFER FROM HOSP/EXTRAM,EMERGENCY,0,2130-12-06 18:30:00,2130-12-18 18:38:00,2130-12-08 10:42:40,2130-12-12 12:08:24,2130-12-09 12:00:00,NaN,4.0595,1,NaN,"[{'charttime': datetime.datetime(2130, 12, 8, ...",1,0,"[{'charttime': datetime.datetime(2130, 12, 8, ...",[],NaN
6,6,181661,18498,M,white,WIDOWED,Medicare,NaN,0,1,0,0,1,"[{'charttime': datetime.datetime(2113, 5, 11, ...","[{'charttime': datetime.datetime(2113, 5, 12, ...","[{'charttime': datetime.datetime(2113, 5, 11, ...","[{'charttime': datetime.datetime(2113, 5, 11, ...","[{'charttime': datetime.datetime(2113, 5, 11, ...","[{'charttime': datetime.datetime(2113, 5, 11, ...","[{'charttime': datetime.datetime(2113, 5, 11, ...","[{'charttime': datetime.datetime(2113, 5, 11, ...",101.15,NaN,"[{'charttime': datetime.datetime(2113, 5, 11, ...",[],"[{'charttime': datetime.datetime(2113, 5, 12, ...","[{'charttime': datetime.datetime(2113, 5, 12, ...","[{'charttime': datetime.datetime(2113, 5, 12, ...",[],"[{'charttime': datetime.datetime(2113, 5, 11, ...","[{'charttime': datetime.datetime(2113, 5, 11, ...",[],"[{'charttime': datetime.datetime(2113, 5, 12, ...","[{'charttime': datetime.datetime(2113, 5, 12, ...","[{'charttime': datetime.datetime(2113, 5, 12, ...",[],[],[],[],[],[],"[{'charttime': datetime.datetime(2113, 5, 13, ...","[{'charttime': datetime.datetime(2113, 5, 12, ...","[{'charttime': datetime.datetime(2113, 5, 13, ...","[{'charttime': datetime.datetime(2113, 5, 12, ...",[],[],[],"[{'charttime': datetime.datetime(2113, 5, 12, ...",[],"[{'charttime': datetime.datetime(2113, 5, 12, ...","[{'charttime': datetime.datetime(2113, 5, 12, ...","[{'charttime': datetime.datetime(2113, 5, 12, ...",[],"[{'charttime': datetime.datetime(2113, 5, 12, ...",[],"[{'charttime': datetime.datetime(2113, 5, 12, ...","[{'charttime': datetime.datetime(2113, 5, 12, ...","[{'charttime': datetime.datetime(2113, 5, 12, ...","[{'charttime': datetime.datetime(2113, 5, 12, ...",[],[],[],[],[],[],"[{'suspected_infection_time': None, 'antibioti...",[],[],[],0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,CCU,CCU,EMERGENCY ROOM ADMIT,EMERGENCY,0,2113-05-07 12:16:00,2113-05-26 13:55:00,2113-05-11 15:46:43,2113-05-13 18:23:43,NaN,NaN,2.1090,1,NaN,"[{'charttime': datetime.datetime(2113, 5, 12, ...",0,0,[],[],NaN
7,7,195614,29429,M,white,UNKNOWN (DEFAULT),Private,ENGL,0,1,0,0,0,"[{'charttime': datetime.datetime(2139, 10, 6, ...",[],"[{'charttime': datetime.datetime(2139, 10, 6, ...","[{'charttime': datetime.datetime(2139, 10, 6, ...","[{'charttime': datetime.datetime(2139, 10, 6, ...","[{'charttime': datetime.datetime(2139, 10, 6, ...","[{'charttime': datetime.datetime(2139, 10, 6, ...","[{'charttime': datetime.datetime(2139, 10, 6, ...",62.30,167.64,"[{'charttime': datetime.datetime(2139, 10, 6, ...",[],"[{'charttime': datetime.datetime(2139, 10, 6, ...","[{'charttime': datetime.datetime(2139, 10, 6, ...","[{'charttime': datetime.datetime(2139, 10, 6, ...","[{'charttime': datetime.datetime(2139, 10, 6, ...","[{'charttime': datetime.datetime(2139, 10, 6, ...","[{'charttime': datetime.datetime(2139, 10, 6, ...",[],"[{'charttime': datetime.datetime(2139, 10, 6, ...",[],[],[],[],[],[],[],[],[],"[{'charttime': datetime.datetime(2139, 10, 6, ...","[{'charttime': datetime.datetime(2139, 10, 7, ...","[{'charttime': datetime.datetime(2139, 10, 6, ...",[],[],[],"[{'charttime': datetime.datetime(2139, 10, 6, ...","[{'charttime': datetime.datetime(2139, 10, 6, ...","[{'charttime': datetime.datetime(2139, 10, 6, ...","[{'charttime': datetime.datetime(2139, 10, 6, ...","[{'charttime': datetime.datetime(2139, 10, 6, ...","[{'charttime': datetime.datetime(2139, 9, 15, ...","[{'charttime': datetime.datetime(2139, 10, 6, ...","[{'charttime': datetime.datetime(2139, 10, 6, ...","[{'charttime': datetime.datetime(2139, 10, 6, ...","[{'charttime': datetime.datetime(2139, 10, 6, ...","[{'charttime': datetime.datetime(2139, 10, 6, ...","[{'charttime': datetime.datetime(2139, 10, 6, ...",[],[],[],[],[],[],"[{'suspected_infection_time': None, 'antibioti...",[],[],"[{'starttime': datetime.datetime(2139, 10, 6, ...",0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,CSRU,CSRU,PHYS REFERRAL/NORMAL DELI,ELECTIVE,0,2139-10-06 07:15:00,2139-10-11 15:04:00,2139-10-06 09:31:07,2139-10-07 17:13:18,2139-10-06 16:20:00,NaN,1.3210,1,NaN,"[{'charttime': datetime.datetime(2139, 10, 6, ...",0,0,[],[],NaN
8,8,190585,28892,M,white,MARRIED,Private,ENGL,0,0,0,0,1,"[{'charttime': datetime.datetime(2130, 10, 5, ...",[],"[{'charttime': datetime.datetime(2130, 10, 5, ...","[{'charttime': datetime.datetime(2130, 10, 5, ...","[{'charttime': datetime.datetime(2130, 10, 5, ...","[{'charttime': datetime.datetime(2130, 10, 5, ...","[{'charttime': datetime.datetime(2130, 10, 5, ...","[{'charttime': datetime.datetime(2130, 10, 5, ...",79.90,165.10,"[{'charttime': datetime.datetime(2130, 10, 5, ...",[],"[{'charttime': datetime.datetime(2130, 10, 5, ...","[{'charttime': datetime.datetime(2130, 10, 5, ...","[{'charttime': datetime.datetime(2130, 10, 5, ...",[],"[{'charttime': datetime.datetime(2130, 10, 5, ...","[{'charttime': datetime.datetime(2130, 10, 5, ...",[],"[{'charttime': datetime.datetime(2130, 10, 5, ...",[],[],[],[],[],[],[],[],[],"[{'charttime': datetime.datetime(2130, 10, 5, ...","[{'charttime': datetime.datetime(2130, 10, 6, ...","[{'charttime': datetime.datetime(2130, 10, 5, ...",[],[],[],"[{'charttime': datetime.datetime(2130, 10, 5, ...","[{'charttime': datetime.datetime(2130, 10, 5, ...","[{'charttime': datetime.datetime(2130, 10, 5, ...","[{'charttime': datetime.datetime(2130, 10, 5, ...","[{'charttime': datetime.datetime(2130, 10, 5, ...","[{'charttime': datetime.datetime(2130, 9, 29, ...","[{'charttime': datetime.datetime(2130, 10, 5, ...","[{'charttime': datetime.datetime(2130, 10, 5, ...","[{'charttime': datetime.datetime(2130, 10, 5, ...","[{'charttime': datetime.datetime(2130, 10, 5, ...","[{'charttime': datetime.datetime(2130, 10, 5, ...","[{'charttime': datetime.datetime(2130, 10, 5, ...",[],[],[],[],[],[],"[{'suspected_infection_time': None, 'antibioti...",[],[],"[{'starttime': datetime.datetime(2130, 10, 5, ...",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,CSRU,CSRU,PHYS REFERRAL/NORMAL DELI,ELECTIVE,0,2130-10-05 07:15:00,2130-10-09 17:00:00,2130-10-05 08:50:46,2130-10-06 21:54:27,2130-10-05 13:30:00,NaN,1.5442,1,NaN,"[{'charttime': datetime.datetime(2130, 10, 5, ...",0,0,[],[],NaN

### 1.2: Cleaning data types

#### 1.2.0: NaN assignment

In [270]:
df = df.replace('NaT',np.datetime64('NaT'))
df = df.replace(['[]','NaN',np.datetime64('NaT')],np.NaN)

#### 1.2.1: Datetime columns

In [271]:
# set column types as datetime
time_cols = ['admittime','dischtime','intime','outtime','reint_time','ext_time','deathtime']
for col in time_cols:
    df[col] = pd.to_datetime(df[col], format='%Y-%m-%d %H:%M:%S')

#dod
df['dod'] = pd.to_datetime(df['dod'], format='%Y-%m-%d')

In [272]:
## CHECK FOR ROWS WHERE DEATHTIME < INTIME OR ADMITTIME

In [273]:
df[time_cols].dtypes

admittime     datetime64[ns]
dischtime     datetime64[ns]
intime        datetime64[ns]
outtime       datetime64[ns]
reint_time    datetime64[ns]
ext_time      datetime64[ns]
deathtime     datetime64[ns]
dtype: object

#### 1.2.2: Demographics

In [274]:
for x in demographics:
    print(x,': ',df[x].unique())

gender :  ['M' 'F']
ethnicity :  ['white' 'other' 'unknown' 'hispanic' 'black' 'asian' 'native' 'WHITE'
 'UNKNOWN' 'OTHER' 'BLACK/AFRICAN AMERICAN' 'HISPANIC/LATINO'
 'UNABLE TO OBTAIN' 'ASIAN' 'AMERICAN INDIAN/ALASKA NATIVE']
marital_status :  ['SINGLE' 'DIVORCED' 'MARRIED' 'WIDOWED' 'UNKNOWN (DEFAULT)' nan
 'SEPARATED']
insurance :  ['Private' 'Self Pay' 'Medicare' 'Medicaid' 'Government' 'Other']
language :  ['ENGL' 'SPAN' nan 'VIET' 'RUSS' 'HAIT' 'CANT' 'PORT' 'PTUN' 'ALBA' 'THAI'
 'ARAB' 'GREE' 'AMER' '*LEB' '*BEN' 'CAPE' 'POLI' 'ITAL' 'HIND' 'URDU'
 'KORE' 'GERM' 'TURK' 'ETHI' 'CAMB' 'MAND' '*GUJ' 'PERS' 'ENGLISH' '?']

In [275]:
#ethnicity
df.replace({'ethnicity':
                {'unknown': np.NaN,'UNKNOWN':np.NaN,'UNABLE TO OBTAIN':np.NaN,
                'OTHER':'other','WHITE':'white','BLACK/AFRICAN AMERICAN':'black','ASIAN':'asian',
                'HISPANIC/LATINO':'hispanic','AMERICAN INDIAN/ALASKA NATIVE':'native'
                }
            }, 
            inplace=True)
print(df['ethnicity'].unique())

['white' 'other' nan 'hispanic' 'black' 'asian' 'native']

In [276]:
#marital_status
df.replace({'marital_status':
                {'UNKNOWN (DEFAULT)': np.NaN
                }
            }, 
            inplace=True)
print(df['marital_status'].unique())

['SINGLE' 'DIVORCED' 'MARRIED' 'WIDOWED' nan 'SEPARATED']

In [277]:
#language
df.replace({'language':
                {'ENGLISH':'ENGL','?':np.NaN
                }
            }, 
            inplace=True)
print(df['marital_status'].unique())

['SINGLE' 'DIVORCED' 'MARRIED' 'WIDOWED' nan 'SEPARATED']

#### 1.2.3: Procedure type

In [278]:
for x in proceduretype:
    print(x,': ',df[x].unique())

aortic :  [0 1]
mit :  [0 1]
tricuspid :  [0 1]
pulmonary :  [0 1]
cabg :  [1 0]

#### 1.2.4: **Vitals / Blood Gases / Products + infection / Ventilation

In [279]:
# wait for Jahan/others
# ventrate seems to be empty

#### 1.2.5: Comorbidities

In [280]:
for x in comorbidities:
    print(x,': ',df[x].unique())

liver_severe :  [0 1]
liver_mild :  [0 1]
rheum :  [0 1]
cvd :  [0 1]
aids :  [0 1]
ckd :  [0 1]
copd :  [0 1]
arrhythmia :  [0 1]
pud :  [0 1]
smoking :  [0 1]
pvd :  [0 1]
paraplegia :  [0 1]
ccf :  [0 1]
met_ca :  [0 1]
t2dm :  [0 1]
t1dm :  [0 1]
malig :  [0 1]
mi :  [1 0]
dementia :  [0 1]

#### 1.2.6: Admissions (categorical)

In [281]:
for x in adm_cat:
    print(x,': ',df[x].unique())

first_careunit :  ['CSRU' 'CCU' 'TSICU' 'SICU' 'MICU'
 'Cardiac Vascular Intensive Care Unit (CVICU)' 'Coronary Care Unit (CCU)'
 'Trauma SICU (TSICU)' 'Medical Intensive Care Unit (MICU)'
 'Medical/Surgical Intensive Care Unit (MICU/SICU)'
 'Surgical Intensive Care Unit (SICU)'
 'Neuro Surgical Intensive Care Unit (Neuro SICU)' 'Neuro Intermediate']
last_careunit :  ['CSRU' 'CCU' 'MICU' 'SICU' 'TSICU'
 'Cardiac Vascular Intensive Care Unit (CVICU)' 'Coronary Care Unit (CCU)'
 'Medical Intensive Care Unit (MICU)' 'Trauma SICU (TSICU)'
 'Medical/Surgical Intensive Care Unit (MICU/SICU)'
 'Surgical Intensive Care Unit (SICU)'
 'Neuro Surgical Intensive Care Unit (Neuro SICU)']
admission_location :  ['PHYS REFERRAL/NORMAL DELI' 'TRANSFER FROM HOSP/EXTRAM'
 'EMERGENCY ROOM ADMIT' 'CLINIC REFERRAL/PREMATURE'
 'TRANSFER FROM OTHER HEALT' 'TRANSFER FROM SKILLED NUR'
 'PHYSICIAN REFERRAL' 'TRANSFER FROM HOSPITAL' 'EMERGENCY ROOM' 'PACU'
 'PROCEDURE SITE' 'TRANSFER FROM SKILLED NURSING FACILITY'
 'CLINIC REFERRAL' 'WALK-IN/SELF REFERRAL' 'INFORMATION NOT AVAILABLE'
 'INTERNAL TRANSFER TO OR FROM PSYCH' 'AMBULATORY SURGERY TRANSFER']
admission_type :  ['ELECTIVE' 'EMERGENCY' 'URGENT' 'SURGICAL SAME DAY ADMISSION' 'EW EMER.'
 'DIRECT EMER.' 'OBSERVATION ADMIT' 'DIRECT OBSERVATION']
hospital_expire_flag :  [0 1]

In [282]:
#first_careunit
df.replace({'first_careunit':
                {'Cardiac Vascular Intensive Care Unit (CVICU)':'CVICU',
                'Coronary Care Unit (CCU)':'CCU',
                'Medical Intensive Care Unit (MICU)':'MICU',
                'Surgical Intensive Care Unit (SICU)':'SICU',
                'Neuro Intermediate':'Neuro Inter',
                'Medical/Surgical Intensive Care Unit (MICU/SICU)':'MICU/SICU',
                'Trauma SICU (TSICU)':'TSICU',
                'Neuro Surgical Intensive Care Unit (Neuro SICU)':'Neuro SICU'
                }
            }, 
            inplace=True)
print(df['first_careunit'].unique())

['CSRU' 'CCU' 'TSICU' 'SICU' 'MICU' 'CVICU' 'MICU/SICU' 'Neuro SICU'
 'Neuro Inter']

In [283]:
#last_careunit
df.replace({'last_careunit':
                {'Cardiac Vascular Intensive Care Unit (CVICU)':'CVICU',
                'Coronary Care Unit (CCU)':'CCU',
                'Medical Intensive Care Unit (MICU)':'MICU',
                'Surgical Intensive Care Unit (SICU)':'SICU',
                'Neuro Intermediate':'Neuro Inter',
                'Medical/Surgical Intensive Care Unit (MICU/SICU)':'MICU/SICU',
                'Trauma SICU (TSICU)':'TSICU',
                'Neuro Surgical Intensive Care Unit (Neuro SICU)':'Neuro SICU'
                }
            }, 
            inplace=True)
print(df['last_careunit'].unique())

['CSRU' 'CCU' 'MICU' 'SICU' 'TSICU' 'CVICU' 'MICU/SICU' 'Neuro SICU']

In [284]:
#admission_location
df.replace({'admission_location':
                {'TRANSFER FROM HOSP/EXTRAM':'TRANSFER FROM HOSPITAL',
                'PHYS REFERRAL/NORMAL DELI':'PHYSICIAN REFERRAL',
                'TRANSFER FROM SKILLED NUR':'TRANSFER FROM SKILLED NURSING FACILITY',
                'INFORMATION NOT AVAILABLE':np.NaN,
                'CLINIC REFERRAL':'CLINIC REFERRAL/PREMATURE',
                'EMERGENCY ROOM ADMIT':'EMERGENCY ROOM',
                }
            }, 
            inplace=True)
print(df['admission_location'].unique())

['PHYSICIAN REFERRAL' 'TRANSFER FROM HOSPITAL' 'EMERGENCY ROOM'
 'CLINIC REFERRAL/PREMATURE' 'TRANSFER FROM OTHER HEALT'
 'TRANSFER FROM SKILLED NURSING FACILITY' 'PACU' 'PROCEDURE SITE'
 'WALK-IN/SELF REFERRAL' nan 'INTERNAL TRANSFER TO OR FROM PSYCH'
 'AMBULATORY SURGERY TRANSFER']

#### 1.2.7: Others

In [285]:
# for x in others:
#     print(x,': ',df[x].unique())

### Parsing time series data

In [286]:
df['vent_array'][14]

"[{'starttime': datetime.datetime(2184, 1, 18, 1, 43), 'endtime': datetime.datetime(2184, 1, 18, 4, 20), 'duration_hours': 2.6166666666666667}]"

In [287]:
def va_parser(row, output=6):
    """
    Takes row index from `df` returns a list of starttime, endtime, vent duration 
    for first and (if applicable) second intubations

    Parameters
    ----------
    row : row in df
    output_ : select which output you want (use list index below) - e.g. args=[6] for all output when using df.apply()

    Returns
    -------
    single list variable containing  
        [0] int_time1: first intubation starttime
        [1] ext_time1: first intubation endtime
        [2] duration1: first intubation duration
        [3] int_time2: second intubation starttime
        [4] ext_time2: second intubation endtime 
        [5] duration2: second intubation duration
        [6] all

    """
    int_time1=np.NaN
    ext_time1=np.NaN
    duration1=np.NaN
    int_time2=np.NaN
    ext_time2=np.NaN
    duration2=np.NaN
    value = row['vent_array']
    list=[]
    '''a = value
    print(value)'''
    if value == np.NaN or pd.isna(value):
        return np.NaN
    a = value.replace("'",'"')
    a = a.replace('\n ...\n',',').replace('\n', ',').replace('...', '')
    a = a.replace('datetime.','"dt.')
    a = a.replace('),', ')",')
    a = json.loads(a)
    b = [(i['starttime'], i['endtime'], i['duration_hours']) for i in a]
    int_time1=dt.datetime.strptime(b[0][0],'dt.datetime(%Y, %m, %d, %H, %M)')
    ext_time1=dt.datetime.strptime(b[0][1],'dt.datetime(%Y, %m, %d, %H, %M)')
    duration1=b[0][2]
    
    if output==0:
        return int_time1
    if output==1:
        return ext_time1
    if output==2:
        return duration1

    if len(b)>=2:
        int_time2=dt.datetime.strptime(b[1][0],'dt.datetime(%Y, %m, %d, %H, %M)')
        ext_time2=dt.datetime.strptime(b[1][1],'dt.datetime(%Y, %m, %d, %H, %M)')
        duration2=b[1][2]
    if output==3:
        return int_time2
    if output==4:
        return ext_time2
    if output==5:
        return duration2
    if output==6:
        return int_time1, ext_time1, duration1, int_time2, ext_time2, duration2

In [288]:
df['int_time1']=df.apply(va_parser, args=[0], axis=1)
df['ext_time1']=df.apply(va_parser, args=[1], axis=1)
df['duration1']=df.apply(va_parser, args=[2], axis=1)
df['int_time2']=df.apply(va_parser, args=[3], axis=1)
df['ext_time2']=df.apply(va_parser, args=[4], axis=1)
df['duration2']=df.apply(va_parser, args=[5], axis=1)
df.head()

,Unnamed: 0,hadm_id,subject_id,gender,ethnicity,marital_status,insurance,language,aortic,mit,tricuspid,pulmonary,cabg,temp,bg_temp,hr,spo2,rr,sbp,dbp,meanbp,weight,height,cardiac_index,pt,ptt,inr,inr_1,fibrinogen,hb,hematocrit,plts,wcc,lymphocytes,neutrophils,alp,ast,alt,ggt,bilirubin_indirect,bilirubin_direct,bilirubin_total,chloride,magnesium,potassium,crp,bleed_time,albumin,creatinine,free_calcium,sodium,bicarb,bun,hba1c,glucose,lactate,po2,pco2,baseexcess,ph,aado2,fio2,ffp,insulin,cryo,prbc,infection,ventrate,tidalvol,vent_array,reintubation,liver_severe,liver_mild,rheum,cvd,aids,ckd,copd,arrhythmia,pud,smoking,pvd,paraplegia,ccf,met_ca,t2dm,t1dm,malig,mi,dementia,first_careunit,last_careunit,admission_location,admission_type,hospital_expire_flag,admittime,dischtime,intime,outtime,ext_time,reint_time,los,icustay_seq,deathtime,plt,diab_un,diab_cc,dtoutput,specimen,dod,int_time1,ext_time1,duration1,int_time2,ext_time2,duration2
0,0,195663,27328,M,white,SINGLE,Private,ENGL,0,0,0,0,1,"[{'charttime': datetime.datetime(2198, 1, 31, ...",NaN,"[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...",84.0,172.72,NaN,NaN,"[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...",NaN,"[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...",NaN,"[{'charttime': datetime.datetime(2198, 1, 31, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 2, 2, 0...","[{'charttime': datetime.datetime(2198, 1, 31, ...",NaN,NaN,NaN,"[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...",NaN,"[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...",NaN,NaN,NaN,NaN,NaN,NaN,"[{'suspected_infection_time': None, 'antibioti...",NaN,NaN,"[{'starttime': datetime.datetime(2198, 1, 31, ...",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,CSRU,CSRU,PHYSICIAN REFERRAL,ELECTIVE,0,2198-01-31 08:00:00,2198-02-04 12:00:00,2198-01-31 12:27:58,2198-02-02 19:06:39,2198-01-31 22:00:00,NaT,2.2769,1,NaT,"[{'charttime': datetime.datetime(2198, 1, 31, ...",0,0,NaN,NaN,NaT,2198-01-31 17:00:00,2198-01-31 22:00:00,5.000000,NaT,NaT,NaN
1,1,106984,6280,F,other,DIVORCED,Self Pay,SPAN,1,0,0,0,0,"[{'charttime': datetime.datetime(2198, 5, 8, 1...",NaN,"[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 8, 1...",60.0,170.18,"[{'charttime': datetime.datetime(2198, 5, 8, 1...",NaN,"[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 8, 1...",NaN,"[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 10, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[{'charttime': datetime.datetime(2198, 5, 9, 3...","[{'charttime': datetime.datetime(2198, 5, 9, 3...","[{'charttime': datetime.datetime(2198, 5, 8, 1...",NaN,NaN,NaN,"[{'charttime': datetime.datetime(2198, 5, 9, 3...","[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 9, 3...","[{'charttime': datetime.datetime(2198, 5, 9, 3...",NaN,"[{'charttime': datetime.datetime(2198, 5, 8, 1...",NaN,"[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 8, 1...",NaN,NaN,"[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'suspected_infection_time': None, 'antibioti...",NaN,NaN,"[{'starttime': datetime.datetime(2198, 5, 8, 1...",0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,CSRU,CSRU,PHYSICIAN REFERRAL,ELECTIVE,0,2198-05-08 07:15:00,2198-05-15 13:49:00,2198-05-08 13:14:00,2198-05-10 19:46:00,2198-05-09 09:29:00,NaT,2.2722,1,NaT,"[{'charttime': datetime.datetime(2198, 5, 8, 1...",0,0,NaN,NaN,NaT,2198-05-08 17:00:00,2198-05-09 09:29:00,16.483333,NaT,NaT,NaN
2,2,123613,15201,F,NaN,MARRIED,Medicare,NaN,1,0,0,0,1,"[{'charttime': datetime.datetime(2189, 2, 18, ...",NaN,"[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...",57.0,165.10,"[{'charttime': datetime.datetime(2189, 2, 18, ...",NaN,"[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...",NaN,"[{'charttime': datetime.datetime(2189, 2, 18, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 19, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...",NaN,NaN,NaN,"[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 10, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...",NaN,"[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...",NaN,NaN,NaN,"[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'suspected_infection_time': None, 'antibioti...",NaN,"[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'starttime': datetime.datetime(2189, 2, 18, ...",0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,CSRU,CSRU,PHYSICIAN REFERRAL,ELECTIVE,0,2189-02-18 08:00:00,2189-03-17 14:20:00,2189-02-18 10:51:08,2189-02-20 13:37:48,2189-02-19 09:00:00,NaT,2.1157,1,NaT,"[{'charttime': datetime.datetime(2189, 2, 18, ...",0,0,NaN,NaN,2191-12-14,2189-02-18 13:00:00,2189-02-19 09:00:00,20.000000,NaT,NaT,NaN
3,3,126027,25226,M,NaN,MARRIED,Private,NaN,0,0,0,0,1,"[{'charttime': datetime.datetime(2118, 1, 25, ...",NaN,"[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...",135.0,190.50,"[{'charttime': datetime.datetime(2118, 1, 25, ...",NaN,"[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...",NaN,"[{'charttime': datetime.datetime(2118, 1, 26, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...",NaN,NaN,NaN,"[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 14, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...",NaN,"[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...",NaN,NaN,NaN,NaN,"[{'suspected_infection_time': None, 'antibioti...",NaN,"[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'starttime': datetime.datetime(2118, 1, 25, ...",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,CSRU,CSRU,PHYSICIAN REFERRAL,ELECTIVE,0,2118-01-25 07:15:00,2118-01-29 13:00:00,2118-01-25 10:46:42,2118-01-26 12:33:02,2118-01-25 17:30:00,NaT,1.0738,1,NaT,"[{'charttime': datetime.datetime(2118, 1, 25, ...",1,0,NaN,NaN,NaT,2118-01-25 13:00:00,2118-01-25 17:30:00,4.500000,NaT,NaT,NaN
4,4,190332,19637,M,NaN,MARRIED,Medicare,NaN,1,0,0,0,0,"[{'charttime': datetime.datetime(2198, 1, 1, 1...",NaN,"[{'charttime': datetime.datetime(2198, 1, 1, 1...","[{'charttime': datetime.datetime(2198, 1, 1, 1...","[{'charttime': datetime.datetime(2198, 1, 1, 1...","[{'charttime': datetime.datetime(2198, 1, 1, 1...","[{'charttime': datetime.datetime(2198, 1, 1, 1...","[{'charttime': datetime.datetime(2198, 1, 1, 1...",70.0,175.26,"[{'charttime': datetime.datetime(2198, 1, 1, 1...",NaN,NaN,"[{'charttime': datetime.datetime(2198, 1, 3, 4...","[{'charttime': datetime.datetime(2198, 1, 3, 4...",NaN,"[{'charttime': datetime.datetime(2198, 1, 1, 1...","[{'charttime': datetime.datetime(2198, 1, 1, 1...",NaN,"[{'charttime': datetime.datetime(2198, 1, 2, 4...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[{'charttime': datetime.datetime(2198, 1, 2, 4...",NaN,"[{'charttime': datetime.datetime(2198, 1, 1, 1...",NaN,NaN,NaN,"[{'charttime': datetime.datetime(2198, 1, 2, 4...","[{'charttime': datetime.datetime(2198, 1, 1, 1...","[{'charttime': datetime.datetime(2198, 1, 1, 1...","[{'charttime': datetime.datetime(2198, 1, 2, 4...","[{'charttime': datetime.datetime(2198, 1, 2, 4...",NaN,"[{'charttime': datetime.datetime(2198, 1, 1, 1...","[{'charttime': datetime.datetime(2198, 1, 1, 1...","[{'charttime': datetime.datetime(2198, 1, 1, 1...","[{'charttime': datetime.datetime(2198, 1, 1, 1...","[{'charttime': datetime.datetime(2198, 1, 1, 1...","[{'charttime': datetime.datetime(2198, 1, 1, 1...","[{'charttime': datetime.datetime(2198, 1, 1, 1...","[{'charttime': datetime.datetime(2198, 1, 1, 1...",NaN,NaN,NaN,"[{'charttime': datetime.datetime(2198, 1, 2, 6...","[{'suspected_infection_time': None, 'antibioti...",NaN,"[{'charttime': datetime.datetime(2198, 1, 1, 1...","[{'starttime': datetime.datetime(2198, 1, 1, 1...",0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,CSRU,CSRU,PHYSICIAN REFERRAL,ELECTIVE,0,2198-01-01 07:15:00,2198-01-09 13:07:00,2198-01-01 10:47:00,2198-01-03 12:00:00,2198-01-01 21:00:00,NaT,2.0507,1,NaT,"[{'charttime': datetime.datetime(2198, 1, 2, 4...",1,0,NaN,NaN,2203-12-06,2198-01-01 13:00:00,2198-01-01 21:00:00,8.000000,NaT,NaT,NaN

In [289]:
def infection_parser(value, timelimit):
    if value == np.NaN:
        return np.NaN
    else:
        a = value
        a = a.replace('\n ','')
        a = a.replace('[','')
        a = a.replace(']','')
        a = a.replace("{'charttime': datetime.datetime",'')
        split = a.split('}')

In [290]:
# df_infection

In [291]:
# def ts_parser(value, timelimit):
#     """
#     Takes single string of timeseries data in MIMIC format and returns the mean, max, min values   
#     Parameters
#     ----------
#     value : single string of timeseries data in MIMIC format
#     timelimit : time (in hours) from the first data entry to include data up to

#     Returns
#     -------
#     avg : mean of all values within specified time period
#     max_: maximum of all values within specified time period
#     min_: minimum of all values within specified time period
#     """
#     if value == np.NaN:
#         return np.NaN, np.NaN, np.NaN
#     else:
#         a = value
#         a = a.replace('\n ','')
#         a = a.replace('[','')
#         a = a.replace(']','')
#         a = a.replace("{'charttime': datetime.datetime",'')
#         split = a.split('}')
#         del split[-1]
#         times = []
#         values = []
#         for n in range(0,len(split)):
#             subsplit = split[n].split(", 'value'")
#             t = datetime.strptime(subsplit[0],'(%Y, %m, %d, %H, %M)')
#             times.append(t)
#             v = float(subsplit[1].replace(': ',''))
#             values.append(v)
#         starttime = times[0]
#         endtime = times[0] + timedelta(hours=timelimit)
#         #find the average
#         incl_values = []
#         for n in range(0,len(split)):
#             if times[n] > starttime and times[n] < endtime: 
#                 incl_values.append(values[n])
#         print(incl_values)
#         avg = statistics.mean(incl_values)
#         max_ = max(incl_values)
#         min_ = min(incl_values)
#         return avg, max_, min_

def ts_parser2(value, timeDelta=None, timeLimits=None, valuename='value'):
    # timeDelta is timedelta in hours from earliest entry
    # timeLimits = (startTime, endTime)
    # if both timeDelta and timeLimits are provided, timeDelta overrules.
    # if both are None, then all timepoints are accepted
    
    if value == np.NaN or pd.isna(value):
        return np.NaN, np.NaN, np.NaN
    
    a = value.replace("'", '"')
    a = a.replace('\n ...\n',',').replace('\n', ',').replace('...', '')
    a = a.replace('datetime.', '"dt.')
    a = a.replace(f'), "{valuename}"', f')", "{valuename}"')
    a = a.replace('"unit": None', '"unit": "None"')
    a = a.replace('starttime', 'charttime')
    a = json.loads(a)
    b = [(eval(i['charttime']), i[valuename]) for i in a]
    
    if timeDelta:
        startTime = min(b, key=lambda x:x[0])[0]
        inc_b = [i[1] for i in b if i[0] <= startTime + dt.timedelta(hours=timeDelta)]
    else:
        if timeLimits:
            inc_b = [i[1] for i in b if i[0] >= timeLimits[0] and i[0] <= timeLimits[1]]
        else:
            inc_b = [i[1] for i in b]
    if len(inc_b) == 0:
        return np.NaN, np.NaN, np.NaN
    
    return sum(inc_b) / len(inc_b), max(inc_b), min(inc_b)

# test_x = df[timeseries].iloc[0,0]
# print(ts_parser(test_x,12))
# print(ts_parser2(test_x, timeDelta=12))
# print()
# test_y = df['bg_temp'][9]
# print(test_y)
# print('Parser1: ', ts_parser(test_y, 36))
# print('Parser2: ', ts_parser2(test_y, timeDelta=36))

### 1.3: Handling missing data

In [292]:
# delete all rows where int_time1 OR ext_time1 are missing
df = df[~(pd.isnull(df['int_time1']) | pd.isnull(df['ext_time1']))]
df = df.reset_index()
df = df.drop(axis=1, columns=['index', 'Unnamed: 0'], inplace=False)
df

,hadm_id,subject_id,gender,ethnicity,marital_status,insurance,language,aortic,mit,tricuspid,pulmonary,cabg,temp,bg_temp,hr,spo2,rr,sbp,dbp,meanbp,weight,height,cardiac_index,pt,ptt,inr,inr_1,fibrinogen,hb,hematocrit,plts,wcc,lymphocytes,neutrophils,alp,ast,alt,ggt,bilirubin_indirect,bilirubin_direct,bilirubin_total,chloride,magnesium,potassium,crp,bleed_time,albumin,creatinine,free_calcium,sodium,bicarb,bun,hba1c,glucose,lactate,po2,pco2,baseexcess,ph,aado2,fio2,ffp,insulin,cryo,prbc,infection,ventrate,tidalvol,vent_array,reintubation,liver_severe,liver_mild,rheum,cvd,aids,ckd,copd,arrhythmia,pud,smoking,pvd,paraplegia,ccf,met_ca,t2dm,t1dm,malig,mi,dementia,first_careunit,last_careunit,admission_location,admission_type,hospital_expire_flag,admittime,dischtime,intime,outtime,ext_time,reint_time,los,icustay_seq,deathtime,plt,diab_un,diab_cc,dtoutput,specimen,dod,int_time1,ext_time1,duration1,int_time2,ext_time2,duration2
0,195663,27328,M,white,SINGLE,Private,ENGL,0,0,0,0,1,"[{'charttime': datetime.datetime(2198, 1, 31, ...",NaN,"[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...",84.00,172.72,NaN,NaN,"[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...",NaN,"[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...",NaN,"[{'charttime': datetime.datetime(2198, 1, 31, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 2, 2, 0...","[{'charttime': datetime.datetime(2198, 1, 31, ...",NaN,NaN,NaN,"[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...",NaN,"[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...","[{'charttime': datetime.datetime(2198, 1, 31, ...",NaN,NaN,NaN,NaN,NaN,NaN,"[{'suspected_infection_time': None, 'antibioti...",NaN,NaN,"[{'starttime': datetime.datetime(2198, 1, 31, ...",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,CSRU,CSRU,PHYSICIAN REFERRAL,ELECTIVE,0,2198-01-31 08:00:00,2198-02-04 12:00:00,2198-01-31 12:27:58,2198-02-02 19:06:39,2198-01-31 22:00:00,NaT,2.276900,1,NaT,"[{'charttime': datetime.datetime(2198, 1, 31, ...",0,0,NaN,NaN,NaT,2198-01-31 17:00:00,2198-01-31 22:00:00,5.000000,NaT,NaT,NaN
1,106984,6280,F,other,DIVORCED,Self Pay,SPAN,1,0,0,0,0,"[{'charttime': datetime.datetime(2198, 5, 8, 1...",NaN,"[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 8, 1...",60.00,170.18,"[{'charttime': datetime.datetime(2198, 5, 8, 1...",NaN,"[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 8, 1...",NaN,"[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 10, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[{'charttime': datetime.datetime(2198, 5, 9, 3...","[{'charttime': datetime.datetime(2198, 5, 9, 3...","[{'charttime': datetime.datetime(2198, 5, 8, 1...",NaN,NaN,NaN,"[{'charttime': datetime.datetime(2198, 5, 9, 3...","[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 9, 3...","[{'charttime': datetime.datetime(2198, 5, 9, 3...",NaN,"[{'charttime': datetime.datetime(2198, 5, 8, 1...",NaN,"[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 8, 1...",NaN,NaN,"[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'charttime': datetime.datetime(2198, 5, 8, 1...","[{'suspected_infection_time': None, 'antibioti...",NaN,NaN,"[{'starttime': datetime.datetime(2198, 5, 8, 1...",0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,CSRU,CSRU,PHYSICIAN REFERRAL,ELECTIVE,0,2198-05-08 07:15:00,2198-05-15 13:49:00,2198-05-08 13:14:00,2198-05-10 19:46:00,2198-05-09 09:29:00,NaT,2.272200,1,NaT,"[{'charttime': datetime.datetime(2198, 5, 8, 1...",0,0,NaN,NaN,NaT,2198-05-08 17:00:00,2198-05-09 09:29:00,16.483333,NaT,NaT,NaN
2,123613,15201,F,NaN,MARRIED,Medicare,NaN,1,0,0,0,1,"[{'charttime': datetime.datetime(2189, 2, 18, ...",NaN,"[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...",57.00,165.10,"[{'charttime': datetime.datetime(2189, 2, 18, ...",NaN,"[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...",NaN,"[{'charttime': datetime.datetime(2189, 2, 18, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 19, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...",NaN,NaN,NaN,"[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 10, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...",NaN,"[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'charttime': datetime.datetime(2189, 2, 18, ...",NaN,NaN,NaN,"[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'suspected_infection_time': None, 'antibioti...",NaN,"[{'charttime': datetime.datetime(2189, 2, 18, ...","[{'starttime': datetime.datetime(2189, 2, 18, ...",0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,CSRU,CSRU,PHYSICIAN REFERRAL,ELECTIVE,0,2189-02-18 08:00:00,2189-03-17 14:20:00,2189-02-18 10:51:08,2189-02-20 13:37:48,2189-02-19 09:00:00,NaT,2.115700,1,NaT,"[{'charttime': datetime.datetime(2189, 2, 18, ...",0,0,NaN,NaN,2191-12-14,2189-02-18 13:00:00,2189-02-19 09:00:00,20.000000,NaT,NaT,NaN
3,126027,25226,M,NaN,MARRIED,Private,NaN,0,0,0,0,1,"[{'charttime': datetime.datetime(2118, 1, 25, ...",NaN,"[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...",135.00,190.50,"[{'charttime': datetime.datetime(2118, 1, 25, ...",NaN,"[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...",NaN,"[{'charttime': datetime.datetime(2118, 1, 26, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...",NaN,NaN,NaN,"[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 14, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...",NaN,"[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'charttime': datetime.datetime(2118, 1, 25, ...",NaN,NaN,NaN,NaN,"[{'suspected_infection_time': None, 'antibioti...",NaN,"[{'charttime': datetime.datetime(2118, 1, 25, ...","[{'starttime': datetime.datetime(2118, 1, 25, ...",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,CSRU,CSRU,PHYSICIAN REFERRAL,ELECTIVE,0,2118-01-25 07:15:00,2118-01-29 13:00:00,2118-01-25 10:46:42,2118-01-26 12:33:02,2118-01-25 17:30:00,NaT,1.073800,1,NaT,"[{'charttime': datetime.datetime(2118, 1, 25, ...",1,0,NaN,NaN,NaT,2118-01-25 13:00:00,2118-01-25 17:30:00,4.500000,NaT,NaT,NaN
4,190332,19637,M,NaN,MARRIED,Medicare,NaN,1,0,0,0,0,"[{'charttime': datetime.datetime(2198, 1, 1, 1...",NaN,"[{'charttime': datetime.datetime(2198, 1, 1, 1...","[{'charttime': datetime.datetime(2198, 1, 1, 1...","[{'charttime': datetime.datetime(2198, 1, 1, 1...","[{'charttime': datetime.datetime(2198, 1, 1, 1...","[{'charttime': datetime.datetime(2198, 1, 1, 1...","[{'charttime': datetime.datetime(2198, 1, 1, 1...",70.00,175.26,"[{'charttime': datetime.datetime(2198, 1, 1, 1...",NaN,NaN,"[{'charttime': datetime.datetime(2198, 1, 3, 4...","[{'charttime': datetime.datetime(2198, 1, 3, 4...",NaN,"[{'charttime': datetime.datetime(2198, 1, 1, 1...","[{'charttime': datetime.datetime(2198, 1, 1, 1...",NaN,"[{'charttime': datetime.datetime(2198, 1, 2, 4...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[{'charttime': datetime.datetime(2198, 1, 2, 4...",NaN,"[{'charttime': datetime.datetime(2198, 1, 1, 1...",NaN,NaN,NaN,"[{'charttime': datetime.datetime(2198, 1, 2, 4...","[{'charttime': datetime.datetime(2198, 1, 1, 1...","[{'charttime': datetime.datetime(2198, 1, 1, 1...","[{'charttime': datetime.datetime(2198, 1, 2, 4...","[{'charttime': datetime.datetime(2198, 1, 2, 4...",NaN,"[{'charttime': datetime.datetime(2198, 1, 1, 1...","[{'charttime': datetime.datetime(2198, 1, 1, 1...","[{'charttime': datetime.datetime(2198, 1, 1, 1...","[{'charttime': datetime.datetime(2198, 1, 1, 1...","[{'charttime': datetime.datetime(2198, 1, 1, 1...","[{'charttime': datetime.datetime(2198, 1, 1, 1...","[{'charttime': datetime.datetime(2198, 1, 1, 1...","[{'charttime': datetime.datetime(2198, 1, 1, 1...",NaN,NaN,NaN,"[{'charttime': datetime.datetime(2198, 1, 2, 6...","[{'suspected_infection_time': None, 'antibioti...",NaN,"[{'charttime': datetime.datetime(2198, 1, 1, 1...","[{'starttime': datetime.datetime(2198, 1, 1, 1...",0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,CSRU,CSRU,PHYSICIAN REFERRAL,ELECTIVE,0,2198-01-01 07:15:00,2198-01-09 13:07:00,2198-01-01 10:47:00,2198-01-03 12:00:00,2198-01-01 21:00:00,NaT,2.050700,1,NaT,"[{'charttime': datetime.datetime(2198, 1, 2, 4...",1,0,NaN,NaN,2203-12-06,2198-01-01 13:00:00,2198-01-01 21:00:00,8.000000,NaT,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9469,22051087,14971805,M,white,MARRIED,Other,ENGL,1,0,0,0,0,"[{'charttime': datetime.datetime(2121, 5, 3, 1...",NaN,"[{'charttime': datetime.datetime(2121, 5, 2, 1...","[{'charttime': datetime.datetime(2121, 5, 2, 1...","[{'charttime': datetime.datetime(2121, 5, 2, 1...","[{'charttime': datetime.datetime(2121, 5, 2, 1...","[{'charttime': datetime.datetime(2121, 5, 2, 1...","[{'charttime': datetime.datetime(2121, 5, 2, 1...",96.80,178.00,NaN,"[{'charttime': datetime.datetime(2121, 5, 2, 1...","[{'charttime': datetime.datetime(2121, 5, 2, 1...","[{'charttime': datetime.datetime(2121, 5, 2, 1...","[{'charttime': datetime.datetime(2121, 5, 2, 1...","[{'charttime': datetime.datetime(2121, 5, 2, 1...","[{'charttime': datetime.datetime(2121, 5, 2, 9...","[{'charttime': datetime.datetime(2121, 5, 2, 9...",NaN,"[{'charttime': datetime.datetime(2121, 5, 2, 1...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[{'charttime': datetime.datetime(2121, 5, 2, 1...","[{'charttime': datetime.datetime(2121, 5, 3, 1...","[{'charttime': datetime.datetime(2121, 5, 2, 9...",NaN,NaN,NaN,"[{'charttime': datetime.datetime(2121, 5, 2, 1...","[{'charttime': datetime.datetime(2121, 5, 2, 1...","[{'charttime': datetime.datetime(2121, 5, 2, 1...","[{'charttime': datetime.datetime(2121, 5, 2, 1...","[{'charttime': datetime.datetime(2121, 5, 2, 1...","[{'charttime': datetime.datetime(2121, 5, 1, 2...","[{'charttime': datetime.datetime(2121, 5, 2, 9...","[{'charttime': datetime.datetime(2121, 5, 2, 1...","[{'charttime': datetime.datetime(2121, 5, 2, 9...","[{'charttime': datetime.datetime(2121, 5, 2, 9...","[{'charttime': datetime.datetime(2121, 5, 2, 9...","[{'charttime': datetime.datetime(2121, 5, 2, 9...",NaN,NaN,NaN,"[{'charttime': datetime.datetime(2121, 5, 2, 1...",NaN,NaN,[{'suspected_infection_time': datetime.datetim...,NaN,NaN,"[{'starttime': datetime.datetime(2121, 5, 2, 1...",0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,CVICU,CVICU,PHYSICIAN REFERRAL,ELECTIVE,0,2121-05-01 19:37:00,2121-05-06 16:50:00,2121-05-02 09:33:46,2121-05-04 18:19:07,2121-05-02 18:01:00,NaT,2.364826,1,NaT,"[{'charttime': datetime.datetime(2121, 5, 2, 1...",0,0,NaN,NaN,NaT,2121-05-02 12:00:00,2121-05-02 18:01:00,6.000000,NaT,NaT,NaN
9470,21555454,15547313,M,NaN,NaN,Medicare,ENGL,0,0,0,0,1,"[{'charttime': datetime.datetime(2111, 11, 19,...",NaN,"[{'charttime': datetime.datetime(2111, 11, 19,...","[{'charttime': datetime.datetime(2111, 11, 19,...","[{'charttime': datetime.datetime(2111, 11, 19,...","[{'charttime': datetime.datetime(2111, 11, 19,...","[{'charttime': datetime.datetime(2111, 11, 19,...","[{'charttime': datetime.datetime(2111, 11, 19,...",85.10,168.00,NaN,"[{'charttime': datetime.datetime(2111, 11, 19,...","[{'charttime': datetime.datetime(2111, 11, 19,...","[{'charttime': datetime.datetime(2111, 11, 19,...","[{'charttime': datetime.datetime(2111, 11, 19,...","[{'charttime': datetime.datetime(2111, 11, 19,...","[{'charttime': datetime.datetime(2111, 11, 19,...","[{'charttime': datetime.datetime(2111, 11, 19,...",NaN,"[{'charttime': datetime.datetime(2111, 11, 19,...","[{'charttime': datetime.datetime(2111, 11, 19,...","[{'charttime': datetime.datetime(2111, 11, 19,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[{'charttime': datetime.datetime(2111, 11, 19,...","[{'charttime': datetime.datetime(2111, 11, 20,...","[{'charttime': datetime.datetime(2111, 11, 19,...",NaN,NaN,NaN,"[{'charttime': datetime.datetime(2111, 11, 19,...","[{'charttime': datetime.datetime(2111, 11, 19,...","[{'charttime': datetime.datetime(2111, 11, 19,...","[{'charttime': datetime.datetime(2111, 11, 19,...","[{'charttime': datetime.datetime(2111, 11, 19,...","[{'charttime': datetime.datetime(2111, 11, 18,...","[{'charttime': datetime.datetime(2111, 11, 19,...","[{'charttime': datetime.datetime(2111, 11, 19,...","[{'charttime': datetime.datetime(2111, 11, 19,...","[{'charttime': datetime.datetime(2111, 11, 19,...","[{'charttime': datetime.datetime(2111, 11, 19,...","[{'charttime': datetime.datetime(2111, 11, 19,...",NaN,NaN,NaN,"[{'charttime': datetime.datetime(2111, 11, 19,...",NaN,NaN,[{'suspected_infection_time': datetime.datetim...,NaN,NaN,"[{'starttime': datetime.datetime(2111, 11, 19,...",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,CVICU,CVICU,TRANSFER FROM HOSPITAL,URGENT,0,2111-11-18 18:24:00,2111-11-23 17:00:00,2111-11-19 17:29:25,2111-11-22 17:29:35,2111-11-20 04:30:00,NaT,3.000116,1,NaT,"[{'charttime': datetime.datetime(2111, 11, 19,...",0,0,NaN,NaN,NaT,2111-11-19 19:00:00,2111-11-20 04:30:00,9.000000,NaT,NaT,NaN
9471,22084741,16252024,M,white,NaN,Medicare,ENGL,0,0,0,0,1,"[{'charttime': datetime.datetime(2156, 3, 1, 1...",NaN,"[{'charttime': datetime.datetime(2156, 3, 1, 1...","[{'charttime': datetime.datetime(2156, 3, 1, 1...","[{'charttime': datetime.datetime(2156, 3, 1, 1...","[{'charttime': datetime.datetime(2156, 3, 1, 1...","[{'charttime': datetime.datetime(2156, 3, 1, 1...","[{'charttime': datetime.datetime(2156, 3, 1, 1...",100.00,175.00,NaN,"[{'charttime': datetime.datetime(2156, 3, 1, 1...","[{'charttime': datetime.datetime(2156, 3, 1, 1...","[{'charttime': datetime.datetime(2156, 3, 1, 1...","[{'charttime': datetime.datetime(2156, 3, 1, 1...","[{'charttime': datetime.datetime(2156, 3, 1, 1...","[{'charttime': datetime.datetime(2156, 3, 1, 1...","[{'charttime': datetime.datetime(2156, 3, 1, 1...",NaN,"[{'charttime': datetime.datetime(2156, 3, 1, 1...","[{'charttime': datetime.datetime(2156, 3, 1, 1...","[{'charttime': datetime.datetime(2156, 3, 1, 1...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[{'charttime': datetime.datetime(2156, 3, 1, 1...",NaN,"[{'charttime': datetime.datetime(2156, 3, 1, 1...",NaN,NaN,NaN,"[{'charttime': datetime.datetime(2156, 3, 1, 1...","[{'charttime': datetime.datetime(2156, 3, 1, 1...","[{'charttime': datetime.datetime(2156, 3, 1, 1...","[{'charttime': datetime.datetime(2156, 3, 1, 1...","[{'charttime': datetime.datetime(2156, 3, 1, 1...","[{'charttime': datetime.datetime(2156, 2, 26, ...","[{'charttime': datetime.datetime(2156, 3, 1, 1...","[{'charttime': datetime.datetime(2156, 3, 1, 1...","[{'charttime': datetime.datetime(2156, 3, 1, 1...","[{'charttime': datetime.datetime(2156, 3, 1, 1...","[{'charttime': datetime.datetime(2156, 3, 1, 1...","[{'charttime': datetime.datetime(2156, 3, 1, 1...",NaN,NaN,NaN,"[{'charttime': datetime.datetime(2156, 3, 1, 1...",NaN,NaN,[{'suspected_infection_time': datetime.datetim...,NaN,NaN,"[{'starttime': datetime.datetime(2156, 3, 1, 1...",0,0,0,0,0,0,1,0,1,0,1,0,0,1,0,1,0,0,1,0,CVICU,CVICU,TRANSFER FROM HOSPITAL,URGENT,0,2156-02-26 18:43:00,2156-03-06 18:30:00,2156-03-01 09:26:32,2156-03-02 17:09:51,2156-03-01 22:27:00,NaT,1.321748,1,NaT,"[{'charttime': datetime.datetime(2156, 3, 1, 1...",0,1,NaN,NaN,NaT,2156-03-01 16:00:00,2156-03-01 22:27:00,6.000000,NaT,NaT,NaN

#### 1.3.0 Assessing for missing data

In [293]:
# formula for checking % missing values
def missing_values_table(df): 
    mis_val = df.isnull().sum()
    mis_val_percent = 100 * df.isnull().sum() / len(df)
    mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
    mis_val_table_ren_columns = mis_val_table.rename(columns = {0: 'Missing Values', 1: '% Missing Values'})
    return mis_val_table_ren_columns

missing_data = missing_values_table(df)

In [294]:
#set limit and get list of variables missing above limit in `missing_cols`
missing_limit = 50
missing_cols = missing_data.loc[missing_data['% Missing Values']>missing_limit].index.tolist()
print(missing_cols)
missing_data = missing_data.loc[missing_data['% Missing Values']>missing_limit]
missing_data = missing_data.sort_values(by=['% Missing Values'])
pd.set_option('display.max_rows', None)
missing_data

['bg_temp', 'cardiac_index', 'plts', 'lymphocytes', 'neutrophils', 'alp', 'ast', 'alt', 'ggt', 'bilirubin_indirect', 'bilirubin_direct', 'bilirubin_total', 'crp', 'bleed_time', 'albumin', 'aado2', 'fio2', 'ffp', 'cryo', 'ventrate', 'tidalvol', 'reint_time', 'deathtime', 'dtoutput', 'specimen', 'dod', 'int_time2', 'ext_time2', 'duration2']

                    Missing Values  % Missing Values
lymphocytes                   5425         57.261980
neutrophils                   5426         57.272535
cardiac_index                 5940         62.697910
fio2                          6463         68.218282
bg_temp                       6787         71.638168
bilirubin_total               7320         77.264091
ast                           7324         77.306312
alt                           7331         77.380198
tidalvol                      7360         77.686299
alp                           7364         77.728520
plts                          7785         82.172261
albumin                       7879         83.164450
ffp                           7928         83.681655
aado2                         8018         84.631623
dod                           8059         85.064387
cryo                          8567         90.426430
duration2                     8845         93.360777
int_time2                     8845         93.360777
ext_time2                     8845         93.360777
reint_time                    8845         93.360777
dtoutput                      8932         94.279080
bilirubin_direct              9265         97.793962
bilirubin_indirect            9277         97.920625
deathtime                     9305         98.216171
crp                           9397         99.187249
ggt                           9461         99.862782
ventrate                      9474        100.000000
bleed_time                    9474        100.000000
specimen                      9474        100.000000

In [295]:
pd.reset_option('display.max_rows')

In [225]:
# missing_data.loc[time_cols,:]

In [296]:
df = df.drop(axis=1, columns=list(missing_data.index), inplace=False)
print(list(df.columns))

['hadm_id', 'subject_id', 'gender', 'ethnicity', 'marital_status', 'insurance', 'language', 'aortic', 'mit', 'tricuspid', 'pulmonary', 'cabg', 'temp', 'hr', 'spo2', 'rr', 'sbp', 'dbp', 'meanbp', 'weight', 'height', 'pt', 'ptt', 'inr', 'inr_1', 'fibrinogen', 'hb', 'hematocrit', 'wcc', 'chloride', 'magnesium', 'potassium', 'creatinine', 'free_calcium', 'sodium', 'bicarb', 'bun', 'hba1c', 'glucose', 'lactate', 'po2', 'pco2', 'baseexcess', 'ph', 'insulin', 'prbc', 'infection', 'vent_array', 'reintubation', 'liver_severe', 'liver_mild', 'rheum', 'cvd', 'aids', 'ckd', 'copd', 'arrhythmia', 'pud', 'smoking', 'pvd', 'paraplegia', 'ccf', 'met_ca', 't2dm', 't1dm', 'malig', 'mi', 'dementia', 'first_careunit', 'last_careunit', 'admission_location', 'admission_type', 'hospital_expire_flag', 'admittime', 'dischtime', 'intime', 'outtime', 'ext_time', 'los', 'icustay_seq', 'plt', 'diab_un', 'diab_cc', 'int_time1', 'ext_time1', 'duration1']

In [227]:
# option 2: impute data based on median

In [228]:
# option 3: multiple imputation

# x = missing_data.loc[missing_data['% Missing Values']> 0]
# x.loc[[i for i in x.index if i not in time_cols],:]

#### 1.3.1 Creating summary fields for time-series data

In [229]:
# checking that ts_parser2() works for the timeseries columns

# for j in timeseries:
#     for i in range(len(df[j])):
#         try:
#             if j in timeseries_valuenames:
#                 ts_parser2(df[j][i], timeDelta=36, valuename=timeseries_valuenames[j])
#             else:
#                 ts_parser2(df[j][i], timeDelta=36)
#         except
#             print(j, i)
#             break
#     print(j, 'Fine')

#### 1.3.2 Beginning imputation

In [297]:
df['int_time1']

0      2198-01-31 17:00:00
1      2198-05-08 17:00:00
2      2189-02-18 13:00:00
3      2118-01-25 13:00:00
4      2198-01-01 13:00:00
               ...
9469   2121-05-02 12:00:00
9470   2111-11-19 19:00:00
9471   2156-03-01 16:00:00
9472   2127-03-05 12:00:00
9473   2193-07-03 16:00:00
Name: int_time1, Length: 9474, dtype: datetime64[ns]

In [300]:
dfForImpute = pd.DataFrame([0 for i in range(df.shape[0])])

# generating timeseries summary values
for column in timeseries:
    if column not in df.columns:
        continue
    x = timeseries_valuenames[column] if column in timeseries_valuenames else "value"
    meanList = []
    maxList = []
    minList = []
    for i in range(len(df[column])):
        y = ts_parser2(df[column][i], timeLimits=(df['int_time1'][i].to_pydatetime(), df['ext_time1'][i].to_pydatetime()), valuename=x)
        meanList.append(y[0])
        maxList.append(y[1])
        minList.append(y[2])
    dfForImpute[column+'_mean'] = meanList
    dfForImpute[column+'_max'] = maxList
    dfForImpute[column+'_min'] = minList

In [301]:
# add on non-time data for imputation
extraColumns = [i for i in df.columns if i not in list(dfForImpute.columns) + timeseries + ['infection', 'vent_array', 'int_time1', 'ext_time1'] + ptinfo + adm_num]
for i in extraColumns:
    if i in ('weight', 'height', 'duration1'):
        dfForImpute[i] = df[i]
    else:
        dfForImpute[i] = df[i].astype('category')
dfForImpute = dfForImpute.copy()

C:\Users\zhepu\AppData\Local\Temp/ipykernel_53276/411917084.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  dfForImpute[i] = df[i].astype('category')
C:\Users\zhepu\AppData\Local\Temp/ipykernel_53276/411917084.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  dfForImpute[i] = df[i]

In [302]:
# before imputation again
dfForImpute

,0,temp_mean,temp_max,temp_min,hr_mean,hr_max,hr_min,spo2_mean,spo2_max,spo2_min,rr_mean,rr_max,rr_min,sbp_mean,sbp_max,sbp_min,dbp_mean,dbp_max,dbp_min,meanbp_mean,meanbp_max,meanbp_min,pt_mean,pt_max,pt_min,ptt_mean,ptt_max,ptt_min,inr_mean,inr_max,inr_min,inr_1_mean,inr_1_max,inr_1_min,fibrinogen_mean,fibrinogen_max,fibrinogen_min,hb_mean,hb_max,hb_min,hematocrit_mean,hematocrit_max,hematocrit_min,wcc_mean,wcc_max,wcc_min,chloride_mean,chloride_max,chloride_min,magnesium_mean,magnesium_max,magnesium_min,potassium_mean,potassium_max,potassium_min,creatinine_mean,creatinine_max,creatinine_min,free_calcium_mean,free_calcium_max,free_calcium_min,sodium_mean,sodium_max,sodium_min,bicarb_mean,bicarb_max,bicarb_min,bun_mean,bun_max,bun_min,hba1c_mean,hba1c_max,hba1c_min,glucose_mean,glucose_max,glucose_min,lactate_mean,lactate_max,lactate_min,po2_mean,po2_max,po2_min,pco2_mean,pco2_max,pco2_min,baseexcess_mean,baseexcess_max,baseexcess_min,ph_mean,ph_max,ph_min,insulin_mean,insulin_max,insulin_min,prbc_mean,prbc_max,prbc_min,plt_mean,plt_max,plt_min,gender,ethnicity,marital_status,insurance,language,aortic,mit,tricuspid,pulmonary,cabg,weight,height,reintubation,liver_severe,liver_mild,rheum,cvd,aids,ckd,copd,arrhythmia,pud,smoking,pvd,paraplegia,ccf,met_ca,t2dm,t1dm,malig,mi,dementia,first_careunit,last_careunit,admission_location,admission_type,hospital_expire_flag,diab_un,diab_cc,duration1
0,0,37.314816,37.444445,37.111113,88.307692,107.0,63.0,99.818182,100.0,98.0,17.714286,34.0,14.0,126.384615,161.0,108.0,59.230769,69.0,50.0,78.153846,86.0,68.0,NaN,NaN,NaN,29.8,29.8,29.8,1.2,1.2,1.2,1.2,1.2,1.2,NaN,NaN,NaN,12.100,12.1,12.1,NaN,NaN,NaN,14.70,14.7,14.7,107.000000,107.0,107.0,NaN,NaN,NaN,3.700000,3.7,3.7,0.80,0.8,0.8,1.150000,1.15,1.15,140.000000,140.0,140.0,25.0,25.0,25.0,13.0,13.0,13.0,NaN,NaN,NaN,140.000000,168.0,112.0,NaN,NaN,NaN,1.000000,1.0,1.0,42.000000,42.0,42.0,1.000000,1.0,1.0,7.400000,7.40,7.40,NaN,NaN,NaN,NaN,NaN,NaN,255.000000,255.0,255.0,M,white,SINGLE,Private,ENGL,0,0,0,0,1,84.00,172.72,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,CSRU,CSRU,PHYSICIAN REFERRAL,ELECTIVE,0,0,0,5.000000
1,0,37.071429,38.500000,35.200001,92.827586,119.0,78.0,97.590164,100.0,65.0,11.873016,21.0,7.5,95.879310,134.0,75.0,51.879310,75.0,35.0,66.086207,101.0,45.0,NaN,NaN,NaN,42.8,47.5,38.1,1.6,1.8,1.4,1.6,1.8,1.4,NaN,NaN,NaN,7.075,10.0,6.0,21.25,30.0,18.0,NaN,NaN,NaN,108.000000,108.0,108.0,2.1,2.1,2.1,4.366667,4.8,3.6,0.60,0.6,0.6,1.135000,1.21,1.00,142.000000,142.0,142.0,26.0,26.0,26.0,12.0,12.0,12.0,NaN,NaN,NaN,146.928571,195.0,118.0,NaN,NaN,NaN,0.555556,2.0,-1.0,43.888889,50.0,36.0,0.555556,2.0,-1.0,7.387778,7.43,7.35,262.500000,314.000000,211.000000,375.0,375.0,375.0,122.500000,141.0,104.0,F,other,DIVORCED,Self Pay,SPAN,1,0,0,0,0,60.00,170.18,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,CSRU,CSRU,PHYSICIAN REFERRAL,ELECTIVE,0,0,0,16.483333
2,0,36.851515,37.799999,35.400002,86.000000,88.0,70.0,99.965517,100.0,99.0,14.764706,25.0,9.0,119.060606,170.0,89.0,59.000000,88.0,45.0,79.787879,121.0,57.0,NaN,NaN,NaN,59.3,59.3,59.3,1.6,1.6,1.6,1.6,1.6,1.6,NaN,NaN,NaN,10.060,11.9,6.5,28.00,35.0,20.0,21.85,22.8,20.9,111.000000,113.0,109.0,2.6,2.6,2.6,4.285714,4.9,3.1,1.20,1.2,1.2,1.156000,1.32,0.95,140.333333,143.0,139.0,26.5,28.0,25.0,19.0,19.0,19.0,NaN,NaN,NaN,119.080000,188.0,92.0,NaN,NaN,NaN,1.166667,3.0,-1.0,41.333333,48.0,34.0,1.166667,3.0,-1.0,7.404286,7.48,7.32,NaN,NaN,NaN,375.0,375.0,375.0,144.500000,148.0,141.0,F,NaN,MARRIED,Medicare,NaN,1,0,0,0,1,57.00,165.10,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,CSRU,CSRU,PHYSICIAN REFERRAL,ELECTIVE,0,0,0,20.000000
3,0,37.286667,38.700001,36.700001,93.333333,104.0,80.0,98.571429,100.0,94.0,16.857143,21.0,12.0,118.333333,162.0,85.0,58.600000,76.0,40.0,75.800000,99.0,56.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,106.000000,106.0,106.0,1.8,1.8,1.8,3.650000,3.7,3.6,0.40,0.4,0.4,1.115000,1.13,1.10,138.000000,138.0,138.0,27.0,27.0,27.0,14.0,14.0,14.0,NaN,NaN,NaN,140.333333,150.0,122.0,NaN,NaN,NaN,0.833333,2.0,0.0,47.833333,55.0,42.0,0.833333,2.0,0.0,7.363333,7.41,7.32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,NaN,MARRIED,Private,NaN,0,0,0,0,1,135.00,190.50,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,CSRU,CSRU,PHYSICIAN REFERRAL,ELECTIVE,0,1,0,4.500000
4,0,36.750000,37.400002,35.900002,87.962963,108.0,75.0,99.370370,100.0,96.0,12.537037,14.0,7.5,109.666667,144.0,69.0,67.018519,83.0,49.0,81.382717,104.0,57.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.980,11.2,9.3,30.00,34.0,28.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000,4.5,3.5,NaN,NaN,NaN,0.885000,0.92,0.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,131.333333,158.0,115.0,1.50,1.5,1.5,-3.857143,-1.0,-7.0,44.714286,58.0,38.0,-3.857143,-1.0,-7.0,7.300000,7.35,7.27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,NaN,MARRIED,Medicare,NaN,1,0,0,0,0,70.00,175.26,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,CSRU,CSRU,PHYSICIAN REFERRAL,ELECTIVE,0,1,0,8.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9469,0,NaN,NaN,NaN,73.444444,77.0,69.0,99.000000,100.0,95.0,18.555556,24.0,14.0,101.555556,109.0,88.0,55.111111,76.0,47.0,70.000000,82.0,64.0,12.2,12.2,12.2,31.1,31.1,31.1,1.1,1.1,1.1,1.1,1.1,1.1,NaN,NaN,NaN,13.100,13.1,13.1,NaN,NaN,NaN,18.90,18.9,18.9,108.000000,108.0,108.0,NaN,NaN,NaN,3.875000,4.0,3.8,0.70,0.7,0.7,1.090000,1.14,1.04,139.000000,140.0,138.0,26.0,26.0,26.0,9.0,9.0,9.0,NaN,NaN,NaN,131.666667,141.0,122.0,NaN,NaN,NaN,140.000000,155.0,110.0,44.000000,45.0,43.0,-0.333333,0.0,-1.0,7.360000,7.36,7.36,2.753143,5.399049,0.733333,NaN,NaN,NaN,186.000000,186.0,186.0,M,white,MARRIED,Other,ENGL,1,0,0,0,0,96.80,178.00,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,CVICU,CVICU,PHYSICIAN REFERRAL,ELECTIVE,0,0,0,6.000000
9470,0,37.580000,37.830000,37.330000,86.230769,98.0,78.0,99.285714,100.0,96.0,18.000000,23.0,14.0,108.500000,142.0,85.0,51.785714,71.0,42.0,68.428571,94.0,53.0,13.3,13.3,13.3,29.9,29.9,29.9,1.2,1.2,1.2,1.2,1.2,1.2,NaN,NaN,NaN,10.150,10.7,9.6,NaN,NaN,NaN,7.75,9.4,6.1,109.500000,112.0,107.0,NaN,NaN,NaN,4.360000,4.8,3.9,0.65,0.7,0.6,1.096667,1.12,1.08,136.333333,137.0,135.0,21.5,23.0,20.0,11.5,13.0,10.0,NaN,NaN,NaN,110.750000,158.0,89.0,0.90,0.9,0.9,185.333333,296.0,85.0,40.000000,42.0,38.0,-3.000000,0.0,-5.0,7.350000,7.41,7.32,3.991799,10.000000,1.000000,NaN,NaN,NaN,98.000000,112.0,84.0,M,NaN,NaN,Medicare,ENGL,0,0,0,0,1,85.10,168.00,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,CVICU,CVICU,TRANSFER FROM HOSPITAL,URGENT,0,0,0,9.000000
9471,0,36.370000,36.390000,36.330000,66.833333,75.0,60.0,98.666667,100.0,97.0,17.416667,23.0,12.0,110.750000,121.0,96.0,55.083333,63.0,51.0,70.250000,78.0,63.0,12.6,12.6,12.6,23.4,23.4,23.4,1.2,1.2,1.2,1.2,1.2,1.2,NaN,NaN,NaN,9.500,9.8,9.2,28.00,28.0,28.0,16.00,16.0,16.0,111.000000,111.0,111.0,NaN,NaN,NaN,4.300000,4.3,4.3,1.20,1.2,1.2,1.370000,1.37,1.37,138.000000,138.0,138.0,21.0,21.0,21.0,41.0,41.0,41.0,NaN,NaN,NaN,120.666667,125.0,117.0,1.20,1.2,1.2,136.600000,192.0,96.0,41.800000,44.0,39.0,-2.400000,-1.0,-3.0,7.340000,7.36,7.32,3.616667,3.616667,3.616667,NaN,NaN,NaN,167.000000,167.0,167.0,M,white,NaN,Medicare,ENGL,0,0,0,0,1,100.00,175.00,0,0,0,0,0,0,1,0,1,0,1,0,0,1,0,1,0,0,1,0,CVICU,CVICU,TRANSFER FROM HOSPITAL,URGENT,0,0,1,6.000000
9472,0,36.691429,37.060000,36.440000,78.571429,96.0,68.0,98.178571,100.0,94.0,14.089286,29.0,6.0,119.214286,163.0,84.0,55.178571,77.0,40.0,74.357143,107.0,52.0,13.9,13.9,13.9,29.7,29.7,29.7,1.3,1.3,1.3,1.3,1.3,1.3,NaN,NaN,NaN,10.200,10.2,10.2,NaN,NaN,NaN,8.80,8.8,8.8,107.000000,107.0,107.0,2.0,2.0,2.0,3.857143,4.1,3.7,0.60,0.6,0.6,1.120000,1.20,1.07,132.500000,135.0,130.0,24.0,24.0,24.0,7.0,7.0,7.0,NaN,NaN,NaN,101.000000,141.0,87.0,0.85,0.9,0.8,133.777778,261.0,95.0,40.222222,43.0,35.0,-2.111111,0.0,-4.0,7.356000,7.42,7.31,5.552349,10.000000,2.000000,NaN,NaN,NaN,146.000000,146.0,146.0,M,white,SINGLE,Medicare,ENGL,0,0,0,0,1,112.05,173.00,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,CVICU,CVICU,PROCEDURE SITE,EW EMER.,0,0,0,24.000000
9473,0,36.765000,37.060000,36.560000,68.812500,80.0,59.0,99.500000,100.0,98.0,13.966667,18.0,11.0,109.333333,130.0,88.0,49.933333,67.0,39.0,64.600000,88.0,50.0,13.9,15.2,12.6,32.6,33.0,32.2,1.3,1.4,1.2,1.3,1.4,1.2,138.0,138.0,138.0,9.350,10.1,8.6,NaN,NaN,NaN,8.45,8.9,8.0,106.333333,110.0,103.0,NaN,NaN,NaN,3.250000,3.5,3.1,0.70,0.7,0.7,1.180000,1.26,1.10,139.333333,142.0,136.0,28.0,30.0,26.0,12.5,13.0,12.0,NaN,NaN,NaN,126.333333,140.0,111.0,1.70,1.7,1.7,247.500000,328.0,167.0,44.000000,44.0,44.0,1.500000,2.0,1.0,7.395000,7.40,7.39,4.886667,12.533334,2.000000,NaN,NaN,NaN,152.666667,186.0,111.0,M,white,MARRIED,Other,ENGL,0,0,0,0,1,77.45,175.00,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,CVICU,CVICU,EMERGENCY ROOM,EW EMER.,0,0,0,12.000000

In [303]:
dfForImpute2 = dfForImpute[dfForImpute.columns[:]]

kds = mf.ImputationKernel(
  dfForImpute2,
  datasets=1,
  save_all_iterations=True,
  random_state=1991
)

# Run the MICE algorithm for 3 iterations
kds.mice(3)

print(kds)

dfImputed = kds.complete_data(dataset=0, inplace=False)
print(dfImputed.isnull().sum(0))

# after imputation
dfImputed.head(10)

              Class: ImputationKernel
           Datasets: 1
         Iterations: 3
  Imputed Variables: 105
save_all_iterations: True
0                       0
temp_mean               0
temp_max                0
temp_min                0
hr_mean                 0
                       ..
admission_type          0
hospital_expire_flag    0
diab_un                 0
diab_cc                 0
duration1               0
Length: 140, dtype: int64

,0,temp_mean,temp_max,temp_min,hr_mean,hr_max,hr_min,spo2_mean,spo2_max,spo2_min,rr_mean,rr_max,rr_min,sbp_mean,sbp_max,sbp_min,dbp_mean,dbp_max,dbp_min,meanbp_mean,meanbp_max,meanbp_min,pt_mean,pt_max,pt_min,ptt_mean,ptt_max,ptt_min,inr_mean,inr_max,inr_min,inr_1_mean,inr_1_max,inr_1_min,fibrinogen_mean,fibrinogen_max,fibrinogen_min,hb_mean,hb_max,hb_min,hematocrit_mean,hematocrit_max,hematocrit_min,wcc_mean,wcc_max,wcc_min,chloride_mean,chloride_max,chloride_min,magnesium_mean,magnesium_max,magnesium_min,potassium_mean,potassium_max,potassium_min,creatinine_mean,creatinine_max,creatinine_min,free_calcium_mean,free_calcium_max,free_calcium_min,sodium_mean,sodium_max,sodium_min,bicarb_mean,bicarb_max,bicarb_min,bun_mean,bun_max,bun_min,hba1c_mean,hba1c_max,hba1c_min,glucose_mean,glucose_max,glucose_min,lactate_mean,lactate_max,lactate_min,po2_mean,po2_max,po2_min,pco2_mean,pco2_max,pco2_min,baseexcess_mean,baseexcess_max,baseexcess_min,ph_mean,ph_max,ph_min,insulin_mean,insulin_max,insulin_min,prbc_mean,prbc_max,prbc_min,plt_mean,plt_max,plt_min,gender,ethnicity,marital_status,insurance,language,aortic,mit,tricuspid,pulmonary,cabg,weight,height,reintubation,liver_severe,liver_mild,rheum,cvd,aids,ckd,copd,arrhythmia,pud,smoking,pvd,paraplegia,ccf,met_ca,t2dm,t1dm,malig,mi,dementia,first_careunit,last_careunit,admission_location,admission_type,hospital_expire_flag,diab_un,diab_cc,duration1
0,0,37.314816,37.444445,37.111113,88.307692,107.0,63.0,99.818182,100.0,98.0,17.714286,34.0,14.0,126.384615,161.0,108.0,59.230769,69.0,50.0,78.153846,86.0,68.0,12.857143,13.1,12.8,29.80,29.8,29.8,1.2000,1.2,1.2,1.200000,1.2,1.2,229.0,256.0,211.0,12.100000,12.1,12.1,36.500000,36.0,36.0,14.70,14.7,14.7,107.0,107.0,107.0,2.500,2.6,2.4,3.700000,3.7,3.7,0.800000,0.8,0.8,1.150000,1.15,1.15,140.000000,140.0,140.0,25.0,25.0,25.0,13.0,13.0,13.0,5.5,5.5,5.5,140.000000,168.0,112.0,1.433333,2.0,1.1,1.000000,1.0,1.0,42.000000,42.0,42.0,1.000000,1.0,1.0,7.400000,7.40,7.40,185.666667,252.000000,0.0,375.000000,375.000000,375.000000,255.0,255.0,255.0,M,white,SINGLE,Private,ENGL,0,0,0,0,1,84.0,172.72,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,CSRU,CSRU,PHYSICIAN REFERRAL,ELECTIVE,0,0,0,5.000000
1,0,37.071429,38.500000,35.200001,92.827586,119.0,78.0,97.590164,100.0,65.0,11.873016,21.0,7.5,95.879310,134.0,75.0,51.879310,75.0,35.0,66.086207,101.0,45.0,17.300000,19.8,15.7,42.80,47.5,38.1,1.6000,1.8,1.4,1.600000,1.8,1.4,179.0,213.0,155.0,7.075000,10.0,6.0,21.250000,30.0,18.0,16.05,21.3,11.6,108.0,108.0,108.0,2.100,2.1,2.1,4.366667,4.8,3.6,0.600000,0.6,0.6,1.135000,1.21,1.00,142.000000,142.0,142.0,26.0,26.0,26.0,12.0,12.0,12.0,5.5,5.5,5.5,146.928571,195.0,118.0,2.166667,2.7,1.5,0.555556,2.0,-1.0,43.888889,50.0,36.0,0.555556,2.0,-1.0,7.387778,7.43,7.35,262.500000,314.000000,211.0,375.000000,375.000000,375.000000,122.5,141.0,104.0,F,other,DIVORCED,Self Pay,SPAN,1,0,0,0,0,60.0,170.18,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,CSRU,CSRU,PHYSICIAN REFERRAL,ELECTIVE,0,0,0,16.483333
2,0,36.851515,37.799999,35.400002,86.000000,88.0,70.0,99.965517,100.0,99.0,14.764706,25.0,9.0,119.060606,170.0,89.0,59.000000,88.0,45.0,79.787879,121.0,57.0,17.500000,17.6,17.5,59.30,59.3,59.3,1.6000,1.6,1.6,1.600000,1.6,1.6,260.5,301.0,238.0,10.060000,11.9,6.5,28.000000,35.0,20.0,21.85,22.8,20.9,111.0,113.0,109.0,2.600,2.6,2.6,4.285714,4.9,3.1,1.200000,1.2,1.2,1.156000,1.32,0.95,140.333333,143.0,139.0,26.5,28.0,25.0,19.0,19.0,19.0,5.6,5.6,5.6,119.080000,188.0,92.0,1.400000,1.6,1.2,1.166667,3.0,-1.0,41.333333,48.0,34.0,1.166667,3.0,-1.0,7.404286,7.48,7.32,190.333333,330.000000,0.5,375.000000,375.000000,375.000000,144.5,148.0,141.0,F,white,MARRIED,Medicare,CANT,1,0,0,0,1,57.0,165.10,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,CSRU,CSRU,PHYSICIAN REFERRAL,ELECTIVE,0,0,0,20.000000
3,0,37.286667,38.700001,36.700001,93.333333,104.0,80.0,98.571429,100.0,94.0,16.857143,21.0,12.0,118.333333,162.0,85.0,58.600000,76.0,40.0,75.800000,99.0,56.0,16.450000,17.6,11.6,25.50,25.6,25.3,1.5500,1.6,1.0,1.544444,1.6,1.0,135.0,135.0,134.0,9.950000,10.5,9.3,30.000000,30.0,30.0,10.60,10.8,10.6,106.0,106.0,106.0,1.800,1.8,1.8,3.650000,3.7,3.6,0.400000,0.4,0.4,1.115000,1.13,1.10,138.000000,138.0,138.0,27.0,27.0,27.0,14.0,14.0,14.0,5.9,5.9,5.9,140.333333,150.0,122.0,1.900000,2.2,1.5,0.833333,2.0,0.0,47.833333,55.0,42.0,0.833333,2.0,0.0,7.363333,7.41,7.32,0.000000,43.565474,0.0,362.499993,375.000000,349.999997,175.0,187.0,167.0,M,white,MARRIED,Private,PERS,0,0,0,0,1,135.0,190.50,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,CSRU,CSRU,PHYSICIAN REFERRAL,ELECTIVE,0,1,0,4.500000
4,0,36.750000,37.400002,35.900002,87.962963,108.0,75.0,99.370370,100.0,96.0,12.537037,14.0,7.5,109.666667,144.0,69.0,67.018519,83.0,49.0,81.382717,104.0,57.0,13.700000,14.1,13.3,35.05,36.5,33.2,1.2800,1.3,1.2,1.280000,1.3,1.2,324.0,342.0,322.0,9.980000,11.2,9.3,30.000000,34.0,28.0,21.70,21.7,21.2,111.0,111.0,111.0,2.025,2.1,2.0,4.000000,4.5,3.5,0.533333,0.6,0.5,0.885000,0.92,0.85,138.500000,141.0,136.0,21.0,21.0,21.0,14.0,14.0,14.0,6.5,6.4,6.4,131.333333,158.0,115.0,1.500000,1.5,1.5,-3.857143,-1.0,-7.0,44.714286,58.0,38.0,-3.857143,-1.0,-7.0,7.300000,7.35,7.27,185.666667,296.000000,0.0,420.000003,1000.000000,225.803568,280.0,282.0,275.0,M,white,MARRIED,Medicare,PORT,1,0,0,0,0,70.0,175.26,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,CSRU,CSRU,PHYSICIAN REFERRAL,ELECTIVE,0,1,0,8.000000
5,0,36.856410,37.400002,35.599998,83.365854,91.0,73.0,99.868421,100.0,98.0,13.886364,22.0,9.0,107.714286,156.0,78.0,53.071429,66.0,45.0,66.547619,89.0,57.0,14.050000,14.5,14.0,46.90,46.9,46.9,1.3000,1.3,1.3,1.300000,1.3,1.3,335.0,513.0,195.0,9.866667,10.4,9.4,29.000000,29.0,29.0,19.40,21.5,17.3,113.5,114.0,113.0,2.600,2.6,2.6,4.171429,4.9,3.5,0.700000,0.8,0.6,1.144000,1.20,1.04,138.500000,141.0,136.0,22.5,24.0,21.0,16.5,18.0,15.0,5.5,5.5,5.5,127.260870,226.0,89.0,2.650000,2.8,2.4,-4.000000,0.0,-7.0,43.750000,49.0,37.0,-4.000000,0.0,-7.0,7.298889,7.37,7.24,176.200000,236.000000,0.0,375.000000,375.000000,375.000000,155.5,167.0,144.0,F,hispanic,SINGLE,Medicaid,ENGL,0,0,0,0,1,73.3,162.56,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,CSRU,CSRU,TRANSFER FROM HOSPITAL,EMERGENCY,0,1,0,22.583333
6,0,36.314286,36.500000,36.000000,84.428571,88.0,82.0,99.555556,100.0,97.0,16.777778,29.0,14.0,114.375000,128.0,101.0,63.125000,69.0,56.0,79.250000,88.0,71.0,14.650000,14.8,14.6,39.10,39.1,39.1,1.3000,1.3,1.3,1.300000,1.3,1.3,182.0,217.0,159.0,9.850000,11.0,8.7,26.000000,26.0,26.0,13.20,13.2,13.2,115.0,115.0,115.0,2.500,2.5,2.5,4.100000,4.3,3.9,0.800000,0.8,0.8,1.060000,1.12,1.00,139.000000,139.0,139.0,20.0,20.0,20.0,9.0,9.0,9.0,5.1,5.1,5.0,115.714286,130.0,105.0,2.480000,3.1,2.2,-4.666667,0.0,-9.0,32.666667,39.0,25.0,-4.666667,0.0,-9.0,7.366667,7.39,7.35,143.500000,249.000000,0.0,250.000000,375.000000,0.000000,178.0,178.0,178.0,M,white,MARRIED,Private,ENGL,0,1,0,0,0,62.3,167.64,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,CSRU,CSRU,PHYSICIAN REFERRAL,ELECTIVE,0,0,0,2.583333
7,0,35.727273,36.299999,35.099998,87.636364,91.0,63.0,100.000000,100.0,100.0,12.545455,18.0,11.0,113.636364,178.0,88.0,65.545455,92.0,51.0,81.818182,125.0,62.0,14.100000,14.3,13.9,37.90,37.9,37.9,1.2000,1.2,1.2,1.200000,1.2,1.2,246.5,253.0,244.0,8.800000,8.8,8.8,28.333333,28.0,28.0,8.70,8.7,8.7,115.0,115.0,115.0,2.850,3.4,2.4,3.500000,3.5,3.5,0.500000,0.5,0.5,1.050000,1.05,1.05,136.000000,136.0,136.0,23.0,23.0,23.0,14.0,14.0,14.0,9.9,10.0,10.0,89.000000,89.0,89.0,4.666667,6.0,3.8,0.000000,0.0,0.0,38.000000,38.0,38.0,0.000000,0.0,0.0,7.420000,7.42,7.42,202.666667,308.000000,0.0,100.000000,3.750000,0.000000,173.0,173.0,173.0,M,white,MARRIED,Private,ENGL,0,0,0,0,1,79.9,165.10,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,CSRU,CSRU,PHYSICIAN REFERRAL,ELECTIVE,0,0,0,2.500000
8,0,37.694613,38.722221,35.900002,119.384615,144.0,94.0,95.851852,100.0,89.0,22.205357,33.0,12.0,115.403846,169.0,85.0,55.403846,77.0,38.0,73.884615,106.0,55.0,13.550000,18.6,12.3,29.30,32.1,27.6,1.2125,1.8,1.1,1.215385,1.8,1.1,219.0,222.0,213.0,13.000000,13.0,13.0,38.500000,39.0,38.0,12.30,12.3,12.3,104.5,106.0,103.0,1.700,1.7,1.7,4.420000,4.8,4.0,0.850000,0.9,0.8,1.174000,1.28,1.13,135.500000,136.0,135.0,26.5,27.0,26.0,11.0,13.0,9.0,6.4,6.6,6.5,114.030303,138.0,88.0,1.900000,1.9,2.0,0.333333,3.0,-2.0,44.666667,58.0,37.0,0.333333,3.0,-2.0,7.373333,7.44,7.28,169.800000,264.000000,10.0,353.181825,374.999986,349.999995,189.0,189.0,189.0,M,white,SINGLE,Medicaid,ENGL,0,0,0,0,1,133.1,175.26,0,0,0,0,0,0,0,1,1,0,0,0,0,1,0,0,0,0,1,0,CSRU,CSRU,EMERGENCY ROOM,EMERGENCY,0,0,0,23.000000
9,0,37.224000,38.599998,34.900002,90.194444,102.0,79.0,97.684211,100.0,65.0,14.038462,27.0,8.0,106.973684,134.0,76.0,52.184211,76.0,41.0,76.552632,99.0,60.0,15.750000,17.5,14.5,35.70,36.1,35.3,1.4500,1.6,1.3,1.450000,1.6,1.3,173.0,176.0,172.0,10.250000,12.9,7.6,23.000000,23.0,23.0,17.10,17.1,17.1,113.5,115.0,112.0,3.300,4.2,2.4,4.133333,4.6,3.7,0.700000,0.8,0.6,1.161667,1.21,1.10,139.500000,140.0,139.0,19.0,21.0,17.0,10.5,12.0,9.0,5.4,5.4,5.4,113.979167,198.0,71.0,4.550000,5.8,3.3,-2.000000,2.0,-5.0,37.000000,45.0,30.0,-2.000000,2.0,-5.0,7.385833,7.50,7.30,198.666667,350.000000,0.0,375.000000,375.000000,375.000000,154.5,163.0,146.0,F,white,MARRIED,Medicare,SPAN,0,0,0,0,1,64.0,157.48,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,CCU,CSRU,TRANSFER FROM HOSPITAL,EMERGENCY,0,0,0,23.200000

In [306]:
y = np.asarray([i.to_pydatetime() for i in df["int_time1"]])
z = np.asarray([i.to_pydatetime() for i in df["outtime"]])
dfImputed['icu_stay_duration'] = [i.total_seconds() for i in z-y]
dfImputed[['hadm_id','subject_id']] = df[['hadm_id','subject_id']]
dfImputed

,0,temp_mean,temp_max,temp_min,hr_mean,hr_max,hr_min,spo2_mean,spo2_max,spo2_min,rr_mean,rr_max,rr_min,sbp_mean,sbp_max,sbp_min,dbp_mean,dbp_max,dbp_min,meanbp_mean,meanbp_max,meanbp_min,pt_mean,pt_max,pt_min,ptt_mean,ptt_max,ptt_min,inr_mean,inr_max,inr_min,inr_1_mean,inr_1_max,inr_1_min,fibrinogen_mean,fibrinogen_max,fibrinogen_min,hb_mean,hb_max,hb_min,hematocrit_mean,hematocrit_max,hematocrit_min,wcc_mean,wcc_max,wcc_min,chloride_mean,chloride_max,chloride_min,magnesium_mean,magnesium_max,magnesium_min,potassium_mean,potassium_max,potassium_min,creatinine_mean,creatinine_max,creatinine_min,free_calcium_mean,free_calcium_max,free_calcium_min,sodium_mean,sodium_max,sodium_min,bicarb_mean,bicarb_max,bicarb_min,bun_mean,bun_max,bun_min,hba1c_mean,hba1c_max,hba1c_min,glucose_mean,glucose_max,glucose_min,lactate_mean,lactate_max,lactate_min,po2_mean,po2_max,po2_min,pco2_mean,pco2_max,pco2_min,baseexcess_mean,baseexcess_max,baseexcess_min,ph_mean,ph_max,ph_min,insulin_mean,insulin_max,insulin_min,prbc_mean,prbc_max,prbc_min,plt_mean,plt_max,plt_min,gender,ethnicity,marital_status,insurance,language,aortic,mit,tricuspid,pulmonary,cabg,weight,height,reintubation,liver_severe,liver_mild,rheum,cvd,aids,ckd,copd,arrhythmia,pud,smoking,pvd,paraplegia,ccf,met_ca,t2dm,t1dm,malig,mi,dementia,first_careunit,last_careunit,admission_location,admission_type,hospital_expire_flag,diab_un,diab_cc,duration1,icu_stay_duration,hadm_id,subject_id
0,0,37.314816,37.444445,37.111113,88.307692,107.0,63.0,99.818182,100.0,98.0,17.714286,34.0,14.0,126.384615,161.0,108.0,59.230769,69.0,50.0,78.153846,86.0,68.0,12.857143,13.1,12.8,29.80,29.8,29.8,1.20,1.2,1.2,1.200000,1.2,1.2,229.0,256.0,211.0,12.100,12.1,12.1,36.500000,36.0,36.0,14.70,14.7,14.7,107.000000,107.0,107.0,2.500000,2.6,2.4,3.700000,3.7,3.7,0.800000,0.8,0.8,1.150000,1.15,1.15,140.000000,140.0,140.0,25.0,25.0,25.0,13.0,13.0,13.0,5.5,5.5,5.5,140.000000,168.0,112.0,1.433333,2.0,1.1,1.000000,1.0,1.0,42.000000,42.0,42.0,1.000000,1.0,1.0,7.400000,7.40,7.40,185.666667,252.000000,0.000000,375.000000,375.000000,375.000000,255.000000,255.0,255.0,M,white,SINGLE,Private,ENGL,0,0,0,0,1,84.00,172.72,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,CSRU,CSRU,PHYSICIAN REFERRAL,ELECTIVE,0,0,0,5.000000,180399.0,195663,27328
1,0,37.071429,38.500000,35.200001,92.827586,119.0,78.0,97.590164,100.0,65.0,11.873016,21.0,7.5,95.879310,134.0,75.0,51.879310,75.0,35.0,66.086207,101.0,45.0,17.300000,19.8,15.7,42.80,47.5,38.1,1.60,1.8,1.4,1.600000,1.8,1.4,179.0,213.0,155.0,7.075,10.0,6.0,21.250000,30.0,18.0,16.05,21.3,11.6,108.000000,108.0,108.0,2.100000,2.1,2.1,4.366667,4.8,3.6,0.600000,0.6,0.6,1.135000,1.21,1.00,142.000000,142.0,142.0,26.0,26.0,26.0,12.0,12.0,12.0,5.5,5.5,5.5,146.928571,195.0,118.0,2.166667,2.7,1.5,0.555556,2.0,-1.0,43.888889,50.0,36.0,0.555556,2.0,-1.0,7.387778,7.43,7.35,262.500000,314.000000,211.000000,375.000000,375.000000,375.000000,122.500000,141.0,104.0,F,other,DIVORCED,Self Pay,SPAN,1,0,0,0,0,60.00,170.18,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,CSRU,CSRU,PHYSICIAN REFERRAL,ELECTIVE,0,0,0,16.483333,182760.0,106984,6280
2,0,36.851515,37.799999,35.400002,86.000000,88.0,70.0,99.965517,100.0,99.0,14.764706,25.0,9.0,119.060606,170.0,89.0,59.000000,88.0,45.0,79.787879,121.0,57.0,17.500000,17.6,17.5,59.30,59.3,59.3,1.60,1.6,1.6,1.600000,1.6,1.6,260.5,301.0,238.0,10.060,11.9,6.5,28.000000,35.0,20.0,21.85,22.8,20.9,111.000000,113.0,109.0,2.600000,2.6,2.6,4.285714,4.9,3.1,1.200000,1.2,1.2,1.156000,1.32,0.95,140.333333,143.0,139.0,26.5,28.0,25.0,19.0,19.0,19.0,5.6,5.6,5.6,119.080000,188.0,92.0,1.400000,1.6,1.2,1.166667,3.0,-1.0,41.333333,48.0,34.0,1.166667,3.0,-1.0,7.404286,7.48,7.32,190.333333,330.000000,0.500000,375.000000,375.000000,375.000000,144.500000,148.0,141.0,F,white,MARRIED,Medicare,CANT,1,0,0,0,1,57.00,165.10,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,CSRU,CSRU,PHYSICIAN REFERRAL,ELECTIVE,0,0,0,20.000000,175068.0,123613,15201
3,0,37.286667,38.700001,36.700001,93.333333,104.0,80.0,98.571429,100.0,94.0,16.857143,21.0,12.0,118.333333,162.0,85.0,58.600000,76.0,40.0,75.800000,99.0,56.0,16.450000,17.6,11.6,25.50,25.6,25.3,1.55,1.6,1.0,1.544444,1.6,1.0,135.0,135.0,134.0,9.950,10.5,9.3,30.000000,30.0,30.0,10.60,10.8,10.6,106.000000,106.0,106.0,1.800000,1.8,1.8,3.650000,3.7,3.6,0.400000,0.4,0.4,1.115000,1.13,1.10,138.000000,138.0,138.0,27.0,27.0,27.0,14.0,14.0,14.0,5.9,5.9,5.9,140.333333,150.0,122.0,1.900000,2.2,1.5,0.833333,2.0,0.0,47.833333,55.0,42.0,0.833333,2.0,0.0,7.363333,7.41,7.32,0.000000,43.565474,0.000000,362.499993,375.000000,349.999997,175.000000,187.0,167.0,M,white,MARRIED,Private,PERS,0,0,0,0,1,135.00,190.50,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,CSRU,CSRU,PHYSICIAN REFERRAL,ELECTIVE,0,1,0,4.500000,84782.0,126027,25226
4,0,36.750000,37.400002,35.900002,87.962963,108.0,75.0,99.370370,100.0,96.0,12.537037,14.0,7.5,109.666667,144.0,69.0,67.018519,83.0,49.0,81.382717,104.0,57.0,13.700000,14.1,13.3,35.05,36.5,33.2,1.28,1.3,1.2,1.280000,1.3,1.2,324.0,342.0,322.0,9.980,11.2,9.3,30.000000,34.0,28.0,21.70,21.7,21.2,111.000000,111.0,111.0,2.025000,2.1,2.0,4.000000,4.5,3.5,0.533333,0.6,0.5,0.885000,0.92,0.85,138.500000,141.0,136.0,21.0,21.0,21.0,14.0,14.0,14.0,6.5,6.4,6.4,131.333333,158.0,115.0,1.500000,1.5,1.5,-3.857143,-1.0,-7.0,44.714286,58.0,38.0,-3.857143,-1.0,-7.0,7.300000,7.35,7.27,185.666667,296.000000,0.000000,420.000003,1000.000000,225.803568,280.000000,282.0,275.0,M,white,MARRIED,Medicare,PORT,1,0,0,0,0,70.00,175.26,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,CSRU,CSRU,PHYSICIAN REFERRAL,ELECTIVE,0,1,0,8.000000,169200.0,190332,19637
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9469,0,37.522222,38.500000,36.700001,73.444444,77.0,69.0,99.000000,100.0,95.0,18.555556,24.0,14.0,101.555556,109.0,88.0,55.111111,76.0,47.0,70.000000,82.0,64.0,12.200000,12.2,12.2,31.10,31.1,31.1,1.10,1.1,1.1,1.100000,1.1,1.1,229.0,258.0,205.0,13.100,13.1,13.1,37.500000,38.0,38.0,18.90,18.9,18.9,108.000000,108.0,108.0,2.100000,2.1,2.1,3.875000,4.0,3.8,0.700000,0.7,0.7,1.090000,1.14,1.04,139.000000,140.0,138.0,26.0,26.0,26.0,9.0,9.0,9.0,10.0,11.4,9.4,131.666667,141.0,122.0,3.725000,4.3,3.3,140.000000,155.0,110.0,44.000000,45.0,43.0,-0.333333,0.0,-1.0,7.360000,7.36,7.36,2.753143,5.399049,0.733333,544.000000,375.000000,554.000000,186.000000,186.0,186.0,M,white,MARRIED,Other,ENGL,1,0,0,0,0,96.80,178.00,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,CVICU,CVICU,PHYSICIAN REFERRAL,ELECTIVE,0,0,0,6.000000,195547.0,22051087,14971805
9470,0,37.580000,37.830000,37.330000,86.230769,98.0,78.0,99.285714,100.0,96.0,18.000000,23.0,14.0,108.500000,142.0,85.0,51.785714,71.0,42.0,68.428571,94.0,53.0,13.300000,13.3,13.3,29.90,29.9,29.9,1.20,1.2,1.2,1.200000,1.2,1.2,163.0,163.0,162.0,10.150,10.7,9.6,32.666667,33.0,30.0,7.75,9.4,6.1,109.500000,112.0,107.0,1.733333,1.9,1.5,4.360000,4.8,3.9,0.650000,0.7,0.6,1.096667,1.12,1.08,136.333333,137.0,135.0,21.5,23.0,20.0,11.5,13.0,10.0,5.6,5.3,5.3,110.750000,158.0,89.0,0.900000,0.9,0.9,185.333333,296.0,85.0,40.000000,42.0,38.0,-3.000000,0.0,-5.0,7.350000,7.41,7.32,3.991799,10.000000,1.000000,331.250000,349.999999,283.999987,98.000000,112.0,84.0,M,white,SEPARATED,Medicare,ENGL,0,0,0,0,1,85.10,168.00,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,CVICU,CVICU,TRANSFER FROM HOSPITAL,URGENT,0,0,0,9.000000,253775.0,21555454,15547313
9471,0,36.370000,36.390000,36.330000,66.833333,75.0,60.0,98.666667,100.0,97.0,17.416667,23.0,12.0,110.750000,121.0,96.0,55.083333,63.0,51.0,70.250000,78.0,63.0,12.600000,12.6,12.6,23.40,23.4,23.4,1.20,1.2,1.2,1.200000,1.2,1.2,192.5,191.0,180.0,9.500,9.8,9.2,28.000000,28.0,28.0,16.00,16.0,16.0,111.000000,111.0,111.0,2.500000,2.5,2.5,4.300000,4.3,4.3,1.200000,1.2,1.2,1.370000,1.37,1.37,138.000000,138.0,138.0,21.0,21.0,21.0,41.0,41.0,41.0,7.5,7.6,7.0,120.666667,125.0,117.0,1.200000,1.2,1.2,136.600000,192.0,96.0,41.800000,44.0,39.0,-2.400000,-1.0,-3.0,7.340000,7.36,7.32,3.616667,3.616667,3.616667,322.500000,350.000000,275.000000,167.000000,167.0,167.0,M,white,SINGLE,Medicare,ENGL,0,0,0,0,1,100.00,175.00,0,0,0,0,0,0,1,0,1,0,1,0,0,1,0,1,0,0,1,0,CVICU,CVICU,TRANSFER FROM HOSPITAL,URGENT,0,0,1,6.000000,90591.0,22084741,16252024
9472,0,36.691429,37.060000,36.440000,78.571429,96.0,68.0,98.178571,100.0,94.0,14.089286,29.0,6.0,119.214286,163.0,84.0,55.178571,77.0,40.0,74.357143,107.0,52.0,13.900000,13.9,13.9,29.70,29.7,29.7,1.30,1.3,1.3,1.300000,1.3,1.3,228.0,255.0,210.0,10.200,10.2,10.2,30.000000,30.0,31.0,8.80,8.8,8.8,107.000000,107.0,107.0,2.000000,2.0,2.0,3.857143,4.1,3.7,0.600000,0.6,0.6,1.120000,1.20,1.07,132.500000,135.0,130.0,24.0,24.0,24.0,7.0,7.0,7.0,6.4,6.5,6.4,101.000000,141.0,87.0,0.850000,0.9,0.8,133.777778,261.0,95.0,40.222222,43.0,35.0,-2.111111,0.0,-4.0,7.356000,7.42,7.31,5.552349,10.000000,2.000000,612.500007,1050.000000,370.000000,146.000000,146.0,146.0,M,white,SINGLE,Medicare,ENGL,0,0,0,0,1,112.05,173.00,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,CVICU,CVICU,PROCEDURE SITE,EW EMER.,0,0,0,24.000000,513082.0,25588352,18504988
9473,0,36.765000,37.060000,36.560000,68.812500,80.0,59.0,99.500000,100.0,98.0,13.966667,18.0,11.0,109.333333,130.0,88.0,49.933333,67.0,39.0,64.600000,88.0,50.0,13.900000,15.2,12.6,32.60,33.0,32.2,1.30,1.4,1.2,1.300000,1.4,1.2,138.0,138.0,138.0,9.350,10.1,8.6,29.000000,29.0,29.0,8.45,8.9,8.0,106.333333,110.0,103.0,2.116667,2.5,1.8,3.250000,3.5,3.1,0.700000,0.7,0.7,1.180000,1.26,1.10,139.333333,142.0,136.0,28.0,30.0,26.0,12.5,13.0,12.0,6.4,6.4,6.4,126.333333,140.0,111.0,1.700000,1.7,1.7,247.500000,328.0,167.0,44.000000,44.0,44.0,1.500000,2.0,1.0,7.395000,7.40,7.39,4.886667,12.533334,2.000000,295.333330,300.000000,281.000004,152.666667,186.0,111.0,M,white,MARRIED,Other,ENGL,0,0,0,0,1,77.45,175.00,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,CVICU,CVICU,EMERGENCY ROOM,EW EMER.,0,0,0,12.000000,80248.0,23863219,13399590

In [305]:
dfImputed.to_csv('imputed.csv')